In [1]:
import numpy as np
import pandas as pd

In [ ]:
#1 Read Batting.csv

In [2]:
df = pd.read_csv('Batting.csv')

In [ ]:
#2 Print out the dimensions and info about the dataframe

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102816 entries, 0 to 102815
Data columns (total 25 columns):
playerID     102816 non-null object
nameFirst    102816 non-null object
nameLast     102816 non-null object
birthYear    102816 non-null int64
yearID       102816 non-null int64
stint        102816 non-null int64
teamID       102816 non-null object
lgID         102079 non-null object
G            102816 non-null int64
AB           102816 non-null int64
R            102816 non-null int64
H            102816 non-null int64
2B           102816 non-null int64
3B           102816 non-null int64
HR           102816 non-null int64
RBI          102392 non-null float64
SB           101516 non-null float64
CS           79360 non-null float64
BB           102816 non-null int64
SO           94978 non-null float64
IBB          66251 non-null float64
HBP          100006 non-null float64
SH           96478 non-null float64
SF           66782 non-null float64
GIDP         76706 non-null float64
dtypes: float64(9), int64(11), object(5)
memory usage: 19.6+ MB

In [15]:
df.describe()

,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102392.000000,101516.000000,79360.000000,102816.000000,94978.000000,66251.000000,100006.000000,96478.000000,66782.000000,76706.000000
mean,1932.991869,1964.262313,1.077838,51.343439,141.905511,18.815544,37.139930,6.289167,1.293252,2.813599,17.003975,2.976821,1.226008,13.067207,20.529712,1.105870,1.056057,2.299540,1.054101,2.981018
std,87.105524,38.856297,0.284366,47.121658,184.654492,28.242983,52.603757,9.662468,2.645770,6.304919,26.352011,7.717174,2.747377,20.746460,28.328542,2.780187,2.276251,4.241095,1.961732,4.735153
min,0.000000,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1905.000000,1934.000000,1.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1945.000000,1973.000000,1.000000,34.000000,49.000000,4.000000,9.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1969.000000,1998.000000,1.000000,80.000000,231.000000,27.000000,58.000000,9.000000,1.000000,2.000000,24.000000,2.000000,1.000000,18.000000,29.000000,1.000000,1.000000,3.000000,1.000000,4.000000
max,1996.000000,2016.000000,5.000000,165.000000,716.000000,192.000000,262.000000,67.000000,36.000000,73.000000,191.000000,138.000000,42.000000,232.000000,223.000000,120.000000,51.000000,67.000000,19.000000,36.000000

In [22]:
playerCareerTotals = df.groupby(["playerID","nameFirst","nameLast"], as_index=False)

In [57]:
sst = df.set_index(["playerID","nameFirst","nameLast","stint"])
type(sst)

pandas.core.frame.DataFrame

In [67]:
sst1 = df.groupby(["playerID","nameFirst","nameLast","stint"])

In [58]:
#3) How many players have hit 40 or more HRs in one single season?

In [59]:
sst[sst['HR'] >= 40]['HR'].count()

326

In [60]:
#5) How many players have hit 40 2Bs, 10 3Bs, 200 Hits, and 30 HRs (inclusive) in one season? (Number Only)

In [77]:
#newdf = df[(df['col1']>2) & (df['col2']==444)]
sst[(sst['2B'] >= 40) & (sst['3B'] >= 10) & (sst['H'] >= 200) &(sst['HR'] >= 30)]['G'].count()

16

In [ ]:
#6) How many players have had 100 or more SBs in a season? (Dataframe)

In [78]:
sst[sst['SB'] >= 100]['SB'].count()

20

In [ ]:
#7) How many players in the 1960s have hit more than 200 HRs? (Dataframe)

In [ ]:
#8) Who has hit the most HRs in history? (Dataframe)

In [ ]:
#9) Who had the most hits in the 1970s? (Dataframe)

In [ ]:
#10) Top 5 highest OBP (on base percentage) with at least 500 PAs in 1977?  (Dataframe)
#OBP = (hits + walks + hit by pitch) / (at bats + walks + hit by pitch + sacrifice flies)

In [ ]:
#11) Top 8 highest averages in 2013 with at least 300 PAs? (Dataframe)

In [ ]:
#12) Leaders in hits from 1940 up to and including 1949. (Dataframe)

In [ ]:
#13) Who led MLB with the most hits the most times?  And how many times?  (Dataframe, Number)

In [ ]:
#14) Which players have played the most games for their careers?  Top 5, descending by games played presented as a dataframe

In [ ]:
#15) How many players have had more than 3000 hits for their careers while also hitting 500 or more HRs?  Just a number is okay here

In [ ]:
#16) How many HRs were hit during the entire 1988 season?  Just a number is okay here

In [ ]:
#17) Please filter out and show me the top 3 average seasons by Wade Boggs during his career in seasons in which he had at least 500 ABs.  I would like a dataframe sorted by average.

In [ ]:
#18) Please filter out the top OBPs for the 1995 season with at least 400 PAs, sorted by OBP.  I would like a dataframe for this

In [ ]:
#19) Who had the most 3Bs (in total) in 1922, 1925, 1926, and 1928?  I would like a dataframe with just the leader

In [ ]:
#20) How many players have hit 30 or more HRs in season while also stealing (SB) 30 more or bases?  A number is okay here

In [ ]:
#21) Who had the highest OBP is 1986 with at least 400 PAs? (Dataframe)

In [ ]:
#22) Same question but for 1997 and only in the NL (check league ID)? (Dataframe)

In [ ]:
#23) Who had more than the league average HRs in 2012 (filter out all players with less 500 PAs)? (Dataframe)

In [ ]:
#24) Who is the youngest player to hit 50 or more HRs in a single season? (Dataframe)

In [ ]:
#25) Who are the five youngest players to hit 300 or more HRs for their career? (Dataframe)

In [10]:
playerCareerTotals.mean()

,,,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
aardsda01,David,Aardsma,1981.0,2009.333333,1.000000,36.777778,0.444444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.111111,0.000000,0.000000
aaronha01,Hank,Aaron,1934.0,1965.000000,1.000000,143.391304,537.565217,94.521739,163.956522,27.130435,4.260870,32.826087,99.869565,10.434783,3.173913,60.956522,60.130435,13.318182,1.391304,0.913043,5.260870,14.260870
aaronto01,Tommie,Aaron,1939.0,1966.857143,1.000000,62.428571,134.857143,14.571429,30.857143,6.000000,0.857143,1.857143,13.428571,1.285714,1.142857,12.285714,20.714286,0.428571,0.000000,1.285714,0.857143,5.142857
aasedo01,Don,Aase,1954.0,1983.538462,1.000000,34.461538,0.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.230769,0.000000,0.000000,0.000000,0.000000,0.000000
abadan01,Andy,Abad,1972.0,2003.333333,1.000000,5.000000,7.000000,0.333333,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,1.333333,1.666667,0.000000,0.000000,0.000000,0.000000,0.333333
abadfe01,Fernando,Abad,1985.0,2013.375000,1.125000,39.375000,1.125000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.625000,0.000000,0.000000,0.000000,0.000000,0.125000
abadijo01,John,Abadie,1850.0,1875.000000,1.500000,6.000000,24.500000,2.000000,5.500000,0.000000,0.000000,0.000000,2.500000,0.500000,0.000000,0.000000,1.500000,NaN,NaN,NaN,NaN,NaN
abbated01,Ed,Abbaticchio,1877.0,1905.100000,1.100000,85.500000,304.400000,35.500000,77.200000,9.900000,4.300000,1.100000,32.400000,14.200000,NaN,28.900000,8.000000,NaN,3.300000,9.300000,NaN,NaN
abbeybe01,Bert,Abbey,1869.0,1894.166667,1.166667,13.166667,37.500000,3.500000,6.333333,0.500000,0.500000,0.000000,2.833333,0.500000,NaN,3.500000,9.000000,NaN,0.000000,1.333333,NaN,NaN
abbeych01,Charlie,Abbey,1866.0,1895.000000,1.000000,90.200000,350.200000,61.400000,98.400000,13.400000,9.200000,3.800000,56.000000,18.600000,NaN,33.400000,26.250000,NaN,4.600000,6.000000,NaN,NaN
abbotda01,Dan,Abbott,1862.0,1890.000000,1.000000,3.000000,7.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN
abbotfr01,Fred,Abbott,1874.0,1904.000000,1.000000,53.333333,171.000000,16.000000,35.666667,7.000000,2.000000,0.333333,16.333333,4.666667,NaN,6.333333,NaN,NaN,2.666667,6.666667,NaN,NaN
abbotgl01,Glenn,Abbott,1951.0,1978.583333,1.083333,20.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
abbotje01,Jeff,Abbott,1972.0,1999.000000,1.000000,46.600000,119.200000,16.400000,31.400000,6.600000,0.400000,3.600000,16.600000,1.200000,1.000000,7.600000,18.200000,0.400000,0.600000,1.000000,1.400000,2.400000
abbotji01,Jim,Abbott,1967.0,1993.818182,1.090909,23.909091,1.909091,0.000000,0.181818,0.000000,0.000000,0.000000,0.272727,0.000000,0.000000,0.000000,0.909091,0.000000,0.000000,0.272727,0.000000,0.090909
abbotku01,Kurt,Abbott,1969.0,1997.100000,1.100000,70.200000,204.400000,27.300000,52.300000,10.900000,2.300000,6.200000,24.200000,2.200000,1.100000,13.300000,57.100000,1.100000,1.700000,2.100000,1.200000,3.700000
abbotky01,Kyle,Abbott,1968.0,1993.500000,1.000000,14.250000,7.750000,0.500000,0.750000,0.250000,0.000000,0.000000,0.500000,0.000000,0.000000,0.250000,4.750000,0.000000,0.000000,1.500000,0.000000,0.000000
abbotod01,Ody,Abbott,1888.0,1910.000000,1.000000,22.000000,70.000000,2.000000,13.000000,2.000000,1.000000,0.000000,6.000000,3.000000,NaN,6.000000,20.000000,NaN,0.000000,6.000000,NaN,NaN
abbotpa01,Paul,Abbott,1967.0,1998.083333,1.083333,13.500000,1.666667,0.166667,0.416667,0.083333,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.416667,0.000000,0.000000
aberal01,Al,Aber,1927.0,1954.375000,1.250000,21.000000,12.500000,0.625000,1.750000,0.000000,0.000000,0.000000,0.750000,0.000000,0.000000,1.000000,5.125000,0.000000,0.000000,1.000000,0.200000,0.250000
abercda01,Frank,Abercrombie,1850.0,1871.000000,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
abercre01,Reggie,Abercrombie,1980.0,2007.000000,1.000000,60.000000,128.666667,21.666667,28.666667,6.666667,0.666667,3.000000,11.333333,6.000000,2.666667,7.000000,41.000000,0.666667,2.333333,1.666667,0.666667,1.000000
abernbi01,Bill,Abernathie,1929.0,1952.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000
abernbr01,Brent,Abernathy,1977.0,2002.800000,1.200000,46.400000,173.600000,19.400000,42.400000,7.200000,1.000000,1.600000,15.800000,4.200000,1.400000,12.000000,18.600000,0.200000,1.400000,3.200000,0.800000,3.000000
abernte01,Ted,Abernathy,1921.0,1943.000000,1.000000,2.333333,1.666667,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,1.000000,NaN,0.000000,0.000000,NaN,0.000000
abernte02,Ted,Abernathy,1933.0,1965.235294,1.235294,40.058824,10.647059,0.705882,1.470588,0.176471,0.000000,0.000000,0.529412,0.000000,0.000000,0.352941,4.352941,0.000000,0.117647,0.882353,0.000000,0.235294
abernwo01,Woody,Abernathy,1915.0,1946.500000,1.000000,8.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
aberscl01,Cliff,Aberson,1921.0,1948.000000,1.000000,21.000000,59.666667,8.333333,15.000000,2.333333,1.000000,1.666667,8.666667,0.000000,NaN,8.333333,14.666667,NaN,0.000000,0.000000,NaN,2.000000
ablesha01,Harry,Ables,1883.0,1908.333333,1.000000,4.666667,8.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,NaN,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
abnersh01,Shawn,Abner,1966.0,1989.714286,1.142857,56.000000,120.000000,12.714286,27.285714,5.571429,0.571429,1.571429,10.142857,0.857143,1.142857,6.142857,21.857143,1.428571,1.000000,0.714286,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zimmejo02,Jordan,Zimmermann,1986.0,2012.500000,1.000000,25.000000,40.500000,2.250000,6.875000,0.750000,0.000000,0.125000,1.875000,0.000000,0.000000,1.250000,12.375000,0.000000,0.000000,5.500000,0.250000,0.250000
zimmero01,Roy,Zimmerman,1913.0,1945.000000,1.000000,27.000000,98.000000,14.000000,27.000000,1.000000,0.000000,5.000000,15.000000,1.000000,NaN,5.000000,16.000000,NaN,3.000000,0.000000,NaN,2.000000
zimmery01,Ryan,Zimmerman,1984.0,2010.500000,1.000000,117.333333,451.333333,66.083333,125.416667,28.166667,1.666667,17.916667,69.083333,3.416667,1.250000,44.916667,90.583333,3.416667,2.083333,0.083333,4.833333,14.416667
zinkch01,Charlie,Zink,1979.0,2008.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zinkwa01,Walter,Zink,1898.0,1921.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,0.000000,0.000000,NaN,NaN
zinnfr01,Frank,Zinn,1865.0,1888.000000,1.000000,2.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,NaN,NaN,0.000000,NaN,NaN,NaN
zinngu01,Guy,Zinn,1887.0,1913.000000,1.000000,62.800000,220.600000,27.200000,59.400000,10.200000,4.600000,3.000000,27.800000,5.600000,NaN,21.800000,25.666667,NaN,1.200000,5.800000,NaN,NaN
zinnji01,Jimmy,Zinn,1895.0,1922.200000,1.000000,15.200000,24.000000,3.400000,6.800000,1.200000,0.400000,0.400000,3.000000,0.400000,0.250000,1.400000,3.600000,NaN,0.200000,0.600000,NaN,NaN
zinsebi01,Bill,Zinser,1918.0,1944.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zinteal01,Alan,Zinter,1968.0,2003.000000,1.000000,33.500000,39.000000,3.500000,6.500000,2.000000,0.000000,1.500000,4.500000,0.000000,0.000000,2.500000,17.000000,0.000000,0.000000,0.000000,0.500000,0.000000
zipfebu01,Bud,Zipfel,1938.0,1961.500000,1.000000,59.000000,177.000000,19.000000,39.000000,5.500000,3.000000,5.000000,19.500000,1.000000,1.500000,16.000000,46.000000,0.500000,0.500000,2.000000,1.000000,2.000000
ziskri01,Richie,Zisk,1949.0,1977.000000,1.000000,111.769231,395.692308,52.384615,113.615385,18.846154,2.000000,15.923077,60.923077,0.615385,1.153846,41.000000,70.000000,4.000000,0.923077,0.538462,3.153846,10.615385
zitoba01,Barry,Zito,1978.0,2007.066667,1.000000,28.933333,22.933333,0.800000,2.333333,0.000000,0.000000,0.000000,0.733333,0.000000,0.000000,1.200000,6.600000,0.000000,0.000000,3.733333,0.000000,0.266667
zitzmbi01,Billy,Zitzmann,1895.0,1924.714286,1.142857,58.000000,143.428571,28.142857,38.285714,5.428571,1.571429,0.428571,12.714286,6.000000,11.000000,11.857143,12.142857,NaN,2.285714,5.571429,NaN,NaN
zmiched01,Ed,Zmich,1884.0,1910.500000,1.000000,6.500000,8.500000,0.000000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,NaN,0.000000,5.000000,NaN,0.000000,0.000000,NaN,NaN
zobribe01,Ben,Zobrist,1981.0,2011.333333,1.083333,111.416667,403.333333,61.250000,107.250000,24.666667,3.166667,12.083333,53.583333,9.250000,3.583333,58.333333,69.916667,2.666667,2.166667,1.916667,4.583333,8.083333
zoccope01,Peter,Zoccolillo,1977.0,2003.000000,1.000000,20.000000,37.000000,0.000000,4.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,2.000000,13.000000,0.000000,0.000000,0.000000,0.000000,1.000000
zoldasa01,Sam,Zoldak,1918.0,1948.000000,1.100000,25.100000,28.600000,1.600000,5.000000,0.600000,0.000000,0.000000,1.100000,0.100000,0.000000,1.000000,5.200000,NaN,0.100000,0.900000,NaN,0.400000
zoskyed01,Eddie,Zosky,1968.0,1995.400000,1.000000,8.800000,10.000000,0.800000,1.600000,0.200000,0.400000,0.000000,0.600000,0.000000,0.000000,0.200000,2.600000,0.000000,0.000000,0.200000,0.200000,0.200000
zuberbi01,Bill,Zuber,1913.0,1942.250000,1.083333,18.666667,19.083333,0.833333,2.583333,0.333333,0.416667,0.000000,0.916667,0.000000,0.000000,0.833333,5.500000,NaN,0.000000,1.666667,NaN,0.800000
zuberjo01,Jon,Zuber,1969.0,1997.000000,1.000000,34.000000,68.000000,6.500000,17.000000,3.500000,0.500000,1.500000,8.000000,0.500000,0.000000,6.000000,10.000000,0.500000,0.500000,0.500000,0.500000,2.000000
zuletju01,Julio,Zuleta,1975.0,2000.500000,1.000000,39.500000,87.000000,12.000000,21.500000,5.500000,0.000000,4.500000,18.000000,0.000000,1.000000,5.000000,25.500000,0.500000,3.000000,0.000000,0.500000,2.500000
zumayjo01,Joel,Zumaya,1984.0,2008.000000,1.000000,34.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zuninmi01,Mike,Zunino,1991.0,2014.500000,1.000000,87.500000,281.250000,29.250000,54.750000,10.750000,0.500000,12.500000,33.250000,0.250000,1.000000,18.750000,101.000000,0.250000,7.750000,2.000000,2.000000,5.750000
zupcibo01,Bob,Zupcic,1966.0,1992.800000,1.200000,63.800000,159.000000,19.800000,39.800000,9.400000,0.800000,1.400000,16.000000,1.400000,1.000000,11.400000,27.400000,0.600000,1.200000,4.000000,1.600000,3.000000
zupofr01,Frank,Zupo,1939.0,1958.666667,1.000000,5.333333,6.000000,1.000000,1.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zuvelpa01,Paul,Zuvella,1958.0,1986.111111,1.000000,23.222222,54.555556,4.555556,12.111111,1.888889,0.222222,0.222222,2.222222,0.222222,0.000000,3.777778,5.555556,0.111111,0.222222,2.000000,0.000000,0.888889
zuverge01,George,Zuverink,1924.0,1955.100000,1.200000,26.600000,14.200000,0.500000,2.100000,0.200000,0.100000,0.000000,0.700000,0.000000,0.100000,0.900000,3.900000,0.000000,0.000000,1.600000,0.000000,0.300000
zwilldu01,Dutch,Zwilling,1888.0,1913.750000,1.000000,91.500000,320.000000,41.750000,91.000000,19.000000,3.750000,7.500000,50.500000,11.500000,NaN,32.000000,46.333333,NaN,1.000000,7.750000,NaN,NaN
zychto01,Tony,Zych,1990.0,2015.500000,1.000000,12.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000