In [83]:
import numpy as np
import pandas as pd

In [84]:
# 1 Read Batting.csv

In [85]:
df = pd.read_csv('Batting.csv')

In [86]:
#2 Print out the dimensions and info about the dataframe

In [87]:
df.info()
#test

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102816 entries, 0 to 102815
Data columns (total 25 columns):
playerID     102816 non-null object
nameFirst    102816 non-null object
nameLast     102816 non-null object
birthYear    102816 non-null int64
yearID       102816 non-null int64
stint        102816 non-null int64
teamID       102816 non-null object
lgID         102079 non-null object
G            102816 non-null int64
AB           102816 non-null int64
R            102816 non-null int64
H            102816 non-null int64
2B           102816 non-null int64
3B           102816 non-null int64
HR           102816 non-null int64
RBI          102392 non-null float64
SB           101516 non-null float64
CS           79360 non-null float64
BB           102816 non-null int64
SO           94978 non-null float64
IBB          66251 non-null float64
HBP          100006 non-null float64
SH           96478 non-null float64
SF           66782 non-null float64
GIDP         76706 non-null float64
dtypes: float64(9), int64(11), object(5)
memory usage: 19.6+ MB

In [88]:
df.describe()

,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102392.000000,101516.000000,79360.000000,102816.000000,94978.000000,66251.000000,100006.000000,96478.000000,66782.000000,76706.000000
mean,1932.991869,1964.262313,1.077838,51.343439,141.905511,18.815544,37.139930,6.289167,1.293252,2.813599,17.003975,2.976821,1.226008,13.067207,20.529712,1.105870,1.056057,2.299540,1.054101,2.981018
std,87.105524,38.856297,0.284366,47.121658,184.654492,28.242983,52.603757,9.662468,2.645770,6.304919,26.352011,7.717174,2.747377,20.746460,28.328542,2.780187,2.276251,4.241095,1.961732,4.735153
min,0.000000,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1905.000000,1934.000000,1.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1945.000000,1973.000000,1.000000,34.000000,49.000000,4.000000,9.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1969.000000,1998.000000,1.000000,80.000000,231.000000,27.000000,58.000000,9.000000,1.000000,2.000000,24.000000,2.000000,1.000000,18.000000,29.000000,1.000000,1.000000,3.000000,1.000000,4.000000
max,1996.000000,2016.000000,5.000000,165.000000,716.000000,192.000000,262.000000,67.000000,36.000000,73.000000,191.000000,138.000000,42.000000,232.000000,223.000000,120.000000,51.000000,67.000000,19.000000,36.000000

In [93]:
#Batting Average is number of hits divided by at bats
def BattingAverage(h, ab):
    if(ab != 0):
        return h / ab
    else:
        return 0

In [94]:
#AGE = Current year - birthyear
def age(currentYear, birthYear):
    if(currentYear != 0 and birthYear != 0):
        return (currentYear - birthYear)
    else:
        return 0

In [95]:
#OBP = (hits + walks + hit by pitch) / (at bats + walks + hit by pitch + sacrifice flies)
def OBS(hits, walks, hbp, ab, sf):
    if((ab + walks + hbp + sf) != 0):
        return (hits + walks + hbp) / (ab + walks + hbp + sf)
    else:
        return 0

In [96]:
#PA = AB + BB + HBP + SH + SF + (Times Reached on Defensive Interference IGNORE THIS)
def PA(AB, BB, HBP, SH, SF):
    return AB + BB + HBP + SH + SF

In [97]:
playerCareerTotals = df.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
type(playerCareerTotals)

pandas.core.frame.DataFrame

In [98]:
playerCareerTotals.describe()

,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000
mean,10507.136770,10677.113085,5.858789,279.086809,771.353793,102.275390,201.880994,34.185937,7.029712,15.293841,92.047105,15.976474,5.143854,71.029236,103.085964,3.873381,5.583505,11.729051,3.721649,12.088924
std,9820.645025,9959.489812,5.621206,453.824217,1603.985998,238.578514,450.549938,79.835905,18.905794,50.240622,222.361516,54.707079,16.352069,175.079949,226.909601,16.743993,15.570065,28.469311,12.085521,33.423978
min,0.000000,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1987.000000,2015.000000,1.000000,13.000000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5961.000000,6042.000000,4.000000,78.000000,71.000000,6.000000,12.000000,2.000000,0.000000,0.000000,4.000000,0.000000,0.000000,4.000000,11.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,15728.000000,15959.500000,9.000000,329.000000,603.000000,63.000000,133.000000,21.000000,4.000000,4.000000,54.000000,5.000000,1.000000,40.000000,89.000000,0.000000,3.000000,10.000000,0.000000,4.000000
max,57753.000000,58823.000000,39.000000,3562.000000,14053.000000,2295.000000,4256.000000,792.000000,309.000000,762.000000,2297.000000,1406.000000,335.000000,2558.000000,2597.000000,688.000000,287.000000,512.000000,128.000000,350.000000

In [99]:
listColumns = list(df.columns) 
listColumns = [e for e in listColumns if e not in ('birthYear','yearID')]
print(listColumns)
sst = df.groupby(["playerID","nameFirst","nameLast","birthYear","yearID"], as_index=False)[listColumns].sum()

['playerID', 'nameFirst', 'nameLast', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP']

In [100]:
sst.describe()

,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.00000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000
mean,1932.972577,1964.192871,1.163454,55.421806,153.177501,20.310121,40.090068,6.788735,1.395979,3.037092,18.278961,3.172651,1.02148,14.105176,20.471087,0.769186,1.108787,2.329186,0.739055,2.400651
std,88.053670,38.751849,0.612216,48.160582,190.781776,29.206727,54.368902,10.002820,2.746006,6.560156,27.241007,8.007630,2.57278,21.513211,28.880389,2.385772,2.350938,4.302277,1.729382,4.475267
min,0.000000,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1905.000000,1934.000000,1.000000,15.000000,5.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1946.000000,1973.000000,1.000000,38.000000,56.000000,5.000000,10.000000,1.000000,0.000000,0.000000,4.000000,0.000000,0.00000,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1969.000000,1998.000000,1.000000,91.000000,266.000000,32.000000,67.000000,11.000000,2.000000,3.000000,28.000000,2.000000,1.00000,21.000000,29.000000,0.000000,1.000000,3.000000,0.000000,3.000000
max,1996.000000,2016.000000,15.000000,165.000000,716.000000,192.000000,262.000000,67.000000,36.000000,73.000000,191.000000,138.000000,42.00000,232.000000,223.000000,120.000000,51.000000,67.000000,19.000000,36.000000

In [101]:
Count_Row1=df.shape[0]
Count_Row2=playerCareerTotals.shape[0]
Count_Row3=sst.shape[0]
print(Count_Row1)
print(Count_Row2)
print(Count_Row3)

102816
18915
95250

In [102]:
#3) How many players have hit 40 or more HRs in one single season?

In [103]:
sst[sst['HR'] >= 40]['HR'].count()

330

In [104]:
#5) How many players have hit 40 2Bs, 10 3Bs, 200 Hits, and 30 HRs (inclusive) in one season? (Number Only)

In [105]:
sst[(sst['2B'] >= 40) & (sst['3B'] >= 10) & (sst['H'] >= 200) & (sst['HR'] >= 30)]['G'].count()

16

In [106]:
#6) How many players have had 100 or more SBs in a season? (Dataframe)

In [107]:
sst[sst['SB'] >= 100]['SB'].count()

20

In [108]:
#7) How many players in the 1960s have hit more than 200 HRs? (Dataframe)

In [109]:
stats1960s = sst[(sst['yearID'] >= 1960) & (sst['yearID'] <= 1969)];
total1960s = stats1960s.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
total1960s[total1960s['HR'] >= 200]['HR'].count()

19

In [110]:
#8) Who has hit the most HRs in history? (Dataframe)

In [111]:
playerCareerTotals.loc[playerCareerTotals['HR'].idxmax()]

playerID     bondsba01
nameFirst        Barry
nameLast         Bonds
birthYear        43208
yearID           43923
stint               22
G                 2986
AB                9847
R                 2227
H                 2935
2B                 601
3B                  77
HR                 762
RBI               1996
SB                 514
CS                 141
BB                2558
SO                1539
IBB                688
HBP                106
SH                   4
SF                  91
GIDP               165
Name: 1542, dtype: object

In [112]:
#9) Who had the most hits in the 1970s? (Dataframe)

In [113]:
stats1970s = sst[(sst['yearID'] >= 1970) & (sst['yearID'] <= 1979)];
total1970s = stats1970s.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
#total1970s[total1970s['HR'] >= 200]['HR'].count()
# get the row of max value
total1970s.loc[total1970s['H'].idxmax()]

playerID     rosepe01
nameFirst        Pete
nameLast         Rose
birthYear       19410
yearID          19745
stint              10
G                1604
AB               6523
R                1068
H                2045
2B                394
3B                 64
HR                 79
RBI               580
SB                105
CS                 60
BB                783
SO                464
IBB                87
HBP                50
SH                  9
SF                 34
GIDP              111
Name: 1639, dtype: object

In [114]:
#10) Top 5 highest OBP (on base percentage) with at least 500 PAs in 1977?  (Dataframe)
#OBP = (hits + walks + hit by pitch) / (at bats + walks + hit by pitch + sacrifice flies)

In [115]:
sst['OBP'] = sst.apply(lambda row: OBS(row.H, row.BB, row.HBP, row.AB, row.SF), axis=1)
sst['PA'] = sst.apply(lambda row: PA(row.AB, row.BB, row.HBP, row.SH, row.SF), axis=1)
sst1977 = sst[(sst['yearID'] == 1977) & (sst['PA'] >= 500)]
sst1977.sort_values(by='OBP', ascending = False).head(5)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA
12979,carewro01,Rod,Carew,1945,1977,1,155,616,128,239,...,13.0,69,55.0,15.0,3.0,1.0,5.0,6.0,0.448773,694.0
79255,singlke01,Ken,Singleton,1947,1977,1,152,536,90,176,...,1.0,107,101.0,13.0,2.0,0.0,6.0,15.0,0.437788,651.0
80255,smithre06,Reggie,Smith,1945,1977,1,148,488,104,150,...,5.0,104,76.0,11.0,3.0,1.0,7.0,5.0,0.426910,603.0
35331,hargrmi01,Mike,Hargrove,1949,1977,1,153,525,98,160,...,5.0,103,59.0,7.0,6.0,8.0,6.0,13.0,0.420312,648.0
59797,morgajo02,Joe,Morgan,1943,1977,1,153,521,113,150,...,10.0,117,58.0,2.0,2.0,0.0,5.0,5.0,0.417054,645.0

In [116]:
#11) Top 8 highest averages in 2013 with at least 300 PAs? (Dataframe)

In [117]:
sst['BA'] = sst.apply(lambda row: BattingAverage(row.H, row.AB), axis=1)
sst2013 = sst[(sst['yearID'] >= 2013) & (sst['PA'] >= 300)]
sst2013.sort_values(by='BA', ascending = False).head(8)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,BA
49147,lemahdj01,DJ,LeMahieu,1988,2016,1,146,552,104,192,...,66,80.0,2.0,3.0,8.0,6.0,19.0,0.416268,635.0,0.347826
12102,cabremi01,Miguel,Cabrera,1983,2013,1,148,555,103,193,...,90,94.0,19.0,5.0,0.0,2.0,19.0,0.441718,652.0,0.347748
60969,murphda08,Daniel,Murphy,1985,2016,1,142,531,88,184,...,35,57.0,10.0,8.0,0.0,8.0,4.0,0.390034,582.0,0.346516
70097,ramirha01,Hanley,Ramirez,1983,2013,1,86,304,62,105,...,27,52.0,3.0,3.0,0.0,2.0,5.0,0.401786,336.0,0.345395
87092,turnetr01,Trea,Turner,1993,2016,1,73,307,53,105,...,14,59.0,0.0,1.0,0.0,2.0,1.0,0.370370,324.0,0.342020
1408,altuvjo01,Jose,Altuve,1990,2014,1,158,660,85,225,...,36,53.0,7.0,5.0,1.0,5.0,20.0,0.376771,707.0,0.340909
87058,turneju01,Justin,Turner,1984,2014,1,109,288,46,98,...,28,58.0,1.0,4.0,0.0,2.0,6.0,0.403727,322.0,0.340278
86981,tulowtr01,Troy,Tulowitzki,1984,2014,1,91,315,71,107,...,50,57.0,4.0,5.0,0.0,5.0,4.0,0.432000,375.0,0.339683

In [118]:
#12) Leaders in hits from 1940 up to and including 1949. (Dataframe)

In [119]:
stats1940s = sst[(sst['yearID'] >= 1940) & (sst['yearID'] <= 1949)];
total1940s = stats1940s.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
#total1970s[total1970s['HR'] >= 200]['HR'].count()
# get the row of max value
total1940s.loc[total1940s['H'].idxmax()]

playerID     boudrlo01
nameFirst          Lou
nameLast      Boudreau
birthYear        19170
yearID           19445
stint               10
G                 1425
AB                5268
R                  758
H                 1578
2B                 339
3B                  59
HR                  62
RBI                692
SB                  47
CS                  47
BB                 706
SO                 268
IBB                  0
HBP                 27
SH                 153
SF                   0
GIDP               131
OBP            3.84035
PA                6154
BA             2.99448
Name: 138, dtype: object

In [120]:
#13) Who led MLB with the most hits the most times?  And how many times?  (Dataframe, Number)

In [121]:
#sst[['H']][sst.H == sst.H.max()]
idx = sst.groupby(['yearID'])['H'].transform(max) == sst['H']
#hitsLeaders = sst[idx].sort_values(by='yearID', ascending = False)
hitsLeaders = sst[idx]
allTimeLeaders = hitsLeaders.groupby(["playerID"]).count()
print(hitsLeaders.sort_values(by='nameFirst', ascending = False).head(1))
print(allTimeLeaders['stint'].max())

       playerID nameFirst nameLast  birthYear  yearID  stint    G   AB    R  \
54640  mayswi01    Willie     Mays       1931    1960      1  153  595  107

         H    ...     BB    SO   IBB  HBP   SH   SF  GIDP       OBP     PA  \
54640  190    ...     61  70.0  11.0  4.0  0.0  9.0  15.0  0.381166  669.0

             BA
54640  0.319328

[1 rows x 26 columns]
7

In [122]:
#14) Which players have played the most games for their careers?  Top 5, descending by games played presented as a dataframe

In [123]:
playerCareerTotals.sort_values('G',ascending = False).head(5)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
14719,rosepe01,Pete,Rose,48525,49372,26,3562,14053,2165,4256,...,1314.0,198.0,149.0,1566,1143.0,167.0,107.0,56.0,79.0,247.0
18728,yastrca01,Carl,Yastrzemski,44597,45356,23,3308,11988,1816,3419,...,1844.0,168.0,116.0,1845,1393.0,190.0,40.0,13.0,105.0,323.0
1,aaronha01,Hank,Aaron,44482,45195,23,3298,12364,2174,3771,...,2297.0,240.0,73.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0
7383,henderi01,Rickey,Henderson,56782,57754,33,3081,10961,2295,3055,...,1115.0,1406.0,335.0,2190,1694.0,61.0,98.0,30.0,67.0,172.0
3155,cobbty01,Ty,Cobb,45264,45996,24,3035,11434,2246,4189,...,1937.0,892.0,178.0,1249,357.0,0.0,94.0,295.0,0.0,0.0

In [124]:
#15) How many players have had more than 3000 hits for their careers while also hitting 500 or more HRs?  Just a number is okay here

In [125]:
playerCareerTotals[(playerCareerTotals['H'] >= 3000) & (playerCareerTotals['HR'] >= 500)]['G'].count()

5

In [126]:
#16) How many HRs were hit during the entire 1988 season?  Just a number is okay here

In [127]:
stats1988 = sst[(sst['yearID'] == 1988)]
stats1988['HR'].sum()

3180

In [128]:
#17) Please filter out and show me the top 3 average seasons by Wade Boggs during his career in seasons in which he had at least 500 ABs.  I would like a dataframe sorted by average.

In [129]:
wadeBoggs = sst[(sst['nameFirst'] == 'Wade') & (sst['nameLast'] == 'Boggs') & (sst['AB'] >= 500)]
wadeBoggs.sort_values(by='BA', ascending = False).head(3)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,BA
7592,boggswa01,Wade,Boggs,1958,1985,1,161,653,107,240,...,96,61.0,5.0,4.0,3.0,2.0,20.0,0.450331,758.0,0.367534
7595,boggswa01,Wade,Boggs,1958,1988,1,155,584,128,214,...,125,34.0,18.0,3.0,0.0,7.0,23.0,0.475661,719.0,0.366438
7594,boggswa01,Wade,Boggs,1958,1987,1,147,551,108,200,...,105,48.0,19.0,2.0,1.0,8.0,13.0,0.460961,667.0,0.362976

In [130]:
#18) Please filter out the top OBPs for the 1995 season with at least 400 PAs, sorted by OBP.  I would like a dataframe for this

In [131]:
sst1977 = sst[(sst['yearID'] == 1995) & (sst['PA'] >= 400)]
sst1977.sort_values(by='OBP', ascending = False).head(5)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,BA
53468,martied01,Edgar,Martinez,1963,1995,1,145,511,121,182,...,116,87.0,19.0,8.0,0.0,4.0,11.0,0.478873,639.0,0.356164
85252,thomafr04,Frank,Thomas,1968,1995,1,145,493,102,152,...,136,74.0,29.0,6.0,0.0,12.0,14.0,0.454405,647.0,0.308316
56019,mcgwima01,Mark,McGwire,1963,1995,1,104,317,75,87,...,88,77.0,5.0,11.0,0.0,6.0,9.0,0.440758,422.0,0.274448
85404,thomeji01,Jim,Thome,1970,1995,1,137,452,92,142,...,97,113.0,3.0,5.0,0.0,3.0,8.0,0.438061,557.0,0.314159
7771,bondsba01,Barry,Bonds,1964,1995,1,144,506,109,149,...,120,83.0,22.0,5.0,0.0,4.0,12.0,0.431496,635.0,0.294466

In [132]:
#19) Who had the most 3Bs (in total) in 1922, 1925, 1926, and 1928?  I would like a dataframe with just the leader

In [133]:
sst1920s = sst[(sst['yearID'] == 1922) | (sst['yearID'] == 1925) | (sst['yearID'] == 1926) | (sst['yearID'] == 1928)]
total1920s = sst1920s.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
total1920s.sort_values(by='3B', ascending = False).head(1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,BA
1011,walkecu01,Curt,Walker,7584,7701,4,571,2088,335,652,...,222,122.0,0.0,5.0,81.0,0.0,0.0,1.513024,2396.0,1.240789

In [134]:
#20) How many players have hit 30 or more HRs in season while also stealing (SB) 30 more or bases?  A number is okay here

In [135]:
sst[(sst['HR'] >= 30) & (sst['SB'] >= 30)]['G'].count()

60

In [136]:
#21) Who had the highest OBP is 1986 with at least 400 PAs? (Dataframe)

In [137]:
sst1977 = sst[(sst['yearID'] == 1986) & (sst['PA'] >= 400)]
sst1977.sort_values(by='OBP', ascending = False).head(1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,BA
7593,boggswa01,Wade,Boggs,1958,1986,1,149,580,107,207,...,105,44.0,14.0,0.0,4.0,4.0,11.0,0.45283,693.0,0.356897

In [138]:
#22) Same question but for 1997 and only in the NL (check league ID)? (Dataframe)

In [139]:
df['OBP'] = df.apply(lambda row: OBS(row.H, row.BB, row.HBP, row.AB, row.SF), axis=1)
df['BA'] = df.apply(lambda row: BattingAverage(row.H, row.AB), axis=1)
df['PA'] = df.apply(lambda row: PA(row.AB, row.BB, row.HBP, row.SH, row.SF), axis=1)
df1977 = df[(df['yearID'] == 1997) & (df['PA'] >= 400) & (df['lgID'] == 'NL')]
df1977.sort_values(by='OBP', ascending = False).head(1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,...,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,BA,PA
76562,walkela01,Larry,Walker,1966,1997,1,COL,NL,153,568,...,78,90.0,14.0,14.0,0.0,4.0,15.0,0.451807,0.366197,664.0

In [140]:
#23) Who had more than the league average HRs in 2012 (filter out all players with less 500 PAs)? (Dataframe)

In [141]:
sst2012 = sst[(sst['yearID'] == 2012) & (sst['PA'] >= 500)]
sst2012[sst2012['HR'] > sst2012["HR"].mean()]

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,BA
1462,alvarpe01,Pedro,Alvarez,1987,2012,1,149,525,64,128,...,57,180.0,6.0,1.0,0.0,3.0,10.0,0.317406,586.0,0.243810
5527,beltrad01,Adrian,Beltre,1979,2012,1,156,604,95,194,...,36,82.0,8.0,5.0,0.0,9.0,8.0,0.359327,654.0,0.321192
5546,beltrca01,Carlos,Beltran,1977,2012,1,151,547,83,147,...,65,124.0,15.0,2.0,1.0,4.0,9.0,0.346278,619.0,0.268739
9084,braunry02,Ryan,Braun,1983,2012,1,154,598,108,191,...,63,128.0,15.0,11.0,0.0,5.0,12.0,0.391433,677.0,0.319398
10449,bruceja01,Jay,Bruce,1987,2012,1,155,560,89,141,...,62,155.0,11.0,4.0,0.0,7.0,5.0,0.327014,633.0,0.251786
11793,butlebi03,Billy,Butler,1986,2012,1,161,614,72,192,...,54,111.0,9.0,7.0,0.0,4.0,20.0,0.372607,679.0,0.312704
12101,cabremi01,Miguel,Cabrera,1983,2012,1,161,622,109,205,...,66,98.0,17.0,3.0,0.0,6.0,28.0,0.393113,697.0,0.329582
12779,canoro01,Robinson,Cano,1982,2012,1,161,627,105,196,...,61,96.0,10.0,7.0,0.0,2.0,22.0,0.378766,697.0,0.312600
14308,cespeyo01,Yoenis,Cespedes,1985,2012,1,129,487,70,142,...,43,102.0,5.0,7.0,0.0,3.0,9.0,0.355556,540.0,0.291581
18036,craigal01,Allen,Craig,1984,2012,1,119,469,76,144,...,37,89.0,1.0,1.0,0.0,7.0,15.0,0.354086,514.0,0.307036
18812,cruzne02,Nelson,Cruz,1980,2012,1,159,585,86,152,...,48,140.0,2.0,5.0,0.0,4.0,7.0,0.319315,642.0,0.259829
19956,davisch02,Chris,Davis,1986,2012,1,139,515,75,139,...,37,169.0,6.0,7.0,0.0,3.0,8.0,0.325623,562.0,0.269903
20094,davisik02,Ike,Davis,1987,2012,1,156,519,66,118,...,61,141.0,3.0,1.0,0.0,3.0,10.0,0.308219,584.0,0.227360
21280,desmoia01,Ian,Desmond,1985,2012,1,130,513,72,150,...,30,113.0,1.0,3.0,0.0,1.0,17.0,0.334552,547.0,0.292398
23348,dunnad01,Adam,Dunn,1979,2012,1,151,539,87,110,...,105,222.0,3.0,1.0,0.0,4.0,8.0,0.332820,649.0,0.204082
24585,encared01,Edwin,Encarnacion,1983,2012,1,151,542,93,152,...,84,94.0,12.0,11.0,0.0,7.0,6.0,0.383540,644.0,0.280443
25100,ethiean01,Andre,Ethier,1982,2012,1,149,556,79,158,...,50,124.0,6.0,9.0,0.0,3.0,13.0,0.351133,618.0,0.284173
26287,fieldpr01,Prince,Fielder,1984,2012,1,162,581,83,182,...,85,84.0,18.0,17.0,0.0,7.0,19.0,0.411594,690.0,0.313253
28214,freemfr01,Freddie,Freeman,1989,2012,1,147,540,91,140,...,64,129.0,4.0,7.0,0.0,9.0,10.0,0.340323,620.0,0.259259
28255,freesda01,David,Freese,1983,2012,1,144,501,70,147,...,57,122.0,2.0,7.0,0.0,2.0,19.0,0.372134,567.0,0.293413
31189,goldspa01,Paul,Goldschmidt,1987,2012,1,145,514,82,147,...,60,130.0,4.0,4.0,0.0,9.0,9.0,0.359455,587.0,0.285992
31406,gonzaca01,Carlos,Gonzalez,1985,2012,1,135,518,89,157,...,56,115.0,11.0,2.0,0.0,3.0,11.0,0.371330,579.0,0.303089
32208,grandcu01,Curtis,Granderson,1981,2012,1,160,596,102,138,...,75,195.0,4.0,5.0,1.0,7.0,5.0,0.319180,684.0,0.231544
34732,hamiljo03,Josh,Hamilton,1981,2012,1,148,562,103,160,...,60,162.0,13.0,5.0,0.0,9.0,9.0,0.353774,636.0,0.284698
35265,hardyjj01,J. J.,Hardy,1982,2012,1,158,663,85,158,...,38,106.0,4.0,3.0,7.0,2.0,21.0,0.281870,713.0,0.238311
35446,harpebr03,Bryce,Harper,1992,2012,1,139,533,98,144,...,56,120.0,0.0,2.0,3.0,3.0,8.0,0.340067,597.0,0.270169
35855,hartco01,Corey,Hart,1982,2012,1,149,562,91,152,...,44,151.0,5.0,11.0,2.0,3.0,13.0,0.333871,622.0,0.270463
36472,headlch01,Chase,Headley,1984,2012,1,161,604,95,173,...,86,157.0,2.0,4.0,0.0,5.0,7.0,0.376252,699.0,0.286424
38048,heywaja01,Jason,Heyward,1989,2012,1,158,587,93,158,...,58,152.0,1.0,2.0,0.0,3.0,4.0,0.335385,650.0,0.269165
38293,hillaa01,Aaron,Hill,1982,2012,1,156,609,93,184,...,52,86.0,7.0,4.0,1.0,2.0,15.0,0.359820,668.0,0.302135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58937,molinya01,Yadier,Molina,1982,2012,1,138,505,65,159,...,45,55.0,4.0,5.0,3.0,5.0,10.0,0.373214,563.0,0.314851
59553,moralke01,Kendrys,Morales,1983,2012,1,134,484,61,132,...,31,116.0,1.0,4.0,0.0,3.0,11.0,0.319923,522.0,0.272727
60406,moustmi01,Mike,Moustakas,1988,2012,1,149,563,69,136,...,39,124.0,4.0,7.0,0.0,5.0,4.0,0.296417,614.0,0.241563
66556,pencehu01,Hunter,Pence,1983,2012,3,160,617,87,156,...,56,145.0,2.0,7.0,1.0,7.0,14.0,0.318777,688.0,0.252836
68022,pierzaj01,A. J.,Pierzynski,1976,2012,1,135,479,68,133,...,28,78.0,5.0,8.0,1.0,4.0,8.0,0.325626,520.0,0.277662
68793,poseybu01,Buster,Posey,1987,2012,1,148,530,78,178,...,69,96.0,7.0,2.0,0.0,9.0,19.0,0.408197,610.0,0.335849
69373,pujolal01,Albert,Pujols,1980,2012,1,154,607,85,173,...,52,76.0,16.0,5.0,0.0,6.0,19.0,0.343284,670.0,0.285008
70066,ramirar01,Aramis,Ramirez,1978,2012,1,149,570,92,171,...,44,82.0,3.0,12.0,0.0,4.0,14.0,0.360317,630.0,0.300000
70096,ramirha01,Hanley,Ramirez,1983,2012,3,157,604,79,155,...,54,132.0,4.0,6.0,0.0,3.0,17.0,0.322339,667.0,0.256623
70405,rasmuco01,Colby,Rasmus,1986,2012,1,151,565,75,126,...,47,149.0,5.0,7.0,2.0,4.0,7.0,0.288925,625.0,0.223009
70682,reddijo01,Josh,Reddick,1987,2012,1,156,611,85,148,...,55,151.0,8.0,2.0,1.0,4.0,15.0,0.305060,673.0,0.242226
71594,reynoma01,Mark,Reynolds,1983,2012,1,135,457,65,101,...,73,159.0,2.0,6.0,0.0,2.0,19.0,0.334572,538.0,0.221007
72281,riosal01,Alex,Rios,1981,2012,1,157,605,93,184,...,26,92.0,3.0,4.0,0.0,5.0,18.0,0.334375,640.0,0.304132
73732,rolliji01,Jimmy,Rollins,1978,2012,1,156,632,102,158,...,62,96.0,2.0,0.0,2.0,3.0,9.0,0.315638,699.0,0.250000
74191,rossco01,Cody,Ross,1980,2012,1,130,476,70,127,...,42,129.0,3.0,3.0,1.0,6.0,11.0,0.326376,528.0,0.266807
77422,seageky01,Kyle,Seager,1987,2012,1,155,594,62,154,...,46,110.0,1.0,5.0,2.0,4.0,9.0,0.315871,651.0,0.259259
80769,soriaal01,Alfonso,Soriano,1976,2012,1,151,561,68,147,...,44,153.0,5.0,7.0,0.0,3.0,18.0,0.321951,615.0,0.262032
81805,stantmi03,Giancarlo,Stanton,1989,2012,1,123,449,75,130,...,46,143.0,9.0,5.0,0.0,1.0,5.0,0.361277,501.0,0.289532
84021,swishni01,Nick,Swisher,1980,2012,1,148,537,75,146,...,77,141.0,2.0,4.0,1.0,5.0,9.0,0.364366,624.0,0.271881
84731,teixema01,Mark,Teixeira,1980,2012,1,123,451,66,113,...,54,83.0,1.0,7.0,0.0,12.0,11.0,0.332061,524.0,0.250554
86808,troutmi01,Mike,Trout,1991,2012,1,139,559,129,182,...,67,139.0,4.0,6.0,0.0,7.0,7.0,0.399061,639.0,0.325581
86873,trumbma01,Mark,Trumbo,1986,2012,1,144,544,66,146,...,36,153.0,3.0,4.0,0.0,2.0,12.0,0.317406,586.0,0.268382
87360,uptonbj01,Melvin,Upton,1984,2012,1,146,573,79,141,...,45,169.0,0.0,1.0,4.0,8.0,13.0,0.298246,631.0,0.246073
88415,vicieda01,Dayan,Viciedo,1989,2012,1,147,505,64,129,...,28,120.0,0.0,6.0,0.0,4.0,18.0,0.300184,543.0,0.255446
90508,weeksri01,Rickie,Weeks,1982,2012,1,157,588,85,135,...,74,169.0,2.0,13.0,0.0,2.0,9.0,0.327917,677.0,0.229592
91799,wietema01,Matt,Wieters,1986,2012,1,144,526,67,131,...,60,112.0,4.0,4.0,0.0,3.0,17.0,0.328836,593.0,0.249049
92312,willijo03,Josh,Willingham,1979,2012,1,145,519,85,135,...,76,141.0,4.0,14.0,0.0,6.0,15.0,0.365854,615.0,0.260116
93938,wrighda03,David,Wright,1982,2012,1,156,581,91,178,...,81,112.0,16.0,3.0,0.0,5.0,15.0,0.391045,670.0,0.306368
95111,zimmery01,Ryan,Zimmerman,1984,2012,1,145,578,93,163,...,57,116.0,8.0,2.0,0.0,4.0,20.0,0.346334,641.0,0.282007
95176,zobribe01,Ben,Zobrist,1981,2012,1,157,560,88,151,...,97,103.0,7.0,3.0,2.0,6.0,13.0,0.376877,668.0,0.269643

In [142]:
#24) Who is the youngest player to hit 50 or more HRs in a single season? (Dataframe)

In [144]:
#sst.describe()
sst['Age'] = sst.apply(lambda row: age(row.yearID, row.birthYear), axis=1)
sst50 = sst[(sst['HR'] >= 50)]
sst50.sort_values('Age', ascending=[True]).head(1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,BA,Age
26282,fieldpr01,Prince,Fielder,1984,2007,1,158,573,109,165,...,121.0,21.0,14.0,0.0,4.0,9.0,0.395007,681.0,0.287958,23

In [145]:
#25) Who are the five youngest players to hit 300 or more HRs for their career? (Dataframe)

In [146]:
sst['HR_csum'] = sst.groupby('playerID')['HR'].cumsum()
sst300 = sst[(sst['HR_csum'] >= 300)]
sst300.sort_values('Age', ascending=[True]).head(5)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,IBB,HBP,SH,SF,GIDP,OBP,PA,BA,Age,HR_csum
43074,jonesan01,Andruw,Jones,1977,2005,1,160,586,95,154,...,13.0,15.0,0.0,7.0,19.0,0.346726,672.0,0.262799,28,301
69369,pujolal01,Albert,Pujols,1980,2008,1,148,524,100,187,...,34.0,5.0,0.0,8.0,16.0,0.461778,641.0,0.356870,28,319
64767,ottme01,Mel,Ott,1909,1937,1,151,545,99,160,...,0.0,3.0,4.0,0.0,4.0,0.407692,654.0,0.293578,28,306
73216,rodrial01,Alex,Rodriguez,1975,2003,1,161,607,124,181,...,10.0,15.0,0.0,6.0,16.0,0.395804,715.0,0.298188,28,345
27852,foxxji01,Jimmie,Foxx,1907,1935,1,147,535,118,185,...,0.0,0.0,0.0,0.0,0.0,0.460709,649.0,0.345794,28,302

In [ ]:
#Graph total HRs per season using bar graph

In [ ]:
#Using a line graph please graph the average HRs per AB (think about this) per season