In [1]:
import numpy as np
import pandas as pd

In [2]:
#1 Read Batting.csv

In [3]:
df = pd.read_csv('Batting.csv')

In [4]:
#2 Print out the dimensions and info about the dataframe

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102816 entries, 0 to 102815
Data columns (total 25 columns):
playerID     102816 non-null object
nameFirst    102816 non-null object
nameLast     102816 non-null object
birthYear    102816 non-null int64
yearID       102816 non-null int64
stint        102816 non-null int64
teamID       102816 non-null object
lgID         102079 non-null object
G            102816 non-null int64
AB           102816 non-null int64
R            102816 non-null int64
H            102816 non-null int64
2B           102816 non-null int64
3B           102816 non-null int64
HR           102816 non-null int64
RBI          102392 non-null float64
SB           101516 non-null float64
CS           79360 non-null float64
BB           102816 non-null int64
SO           94978 non-null float64
IBB          66251 non-null float64
HBP          100006 non-null float64
SH           96478 non-null float64
SF           66782 non-null float64
GIDP         76706 non-null float64
dtypes: float64(9), int64(11), object(5)
memory usage: 19.6+ MB

In [6]:
df.describe()

,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102816.000000,102392.000000,101516.000000,79360.000000,102816.000000,94978.000000,66251.000000,100006.000000,96478.000000,66782.000000,76706.000000
mean,1932.991869,1964.262313,1.077838,51.343439,141.905511,18.815544,37.139930,6.289167,1.293252,2.813599,17.003975,2.976821,1.226008,13.067207,20.529712,1.105870,1.056057,2.299540,1.054101,2.981018
std,87.105524,38.856297,0.284366,47.121658,184.654492,28.242983,52.603757,9.662468,2.645770,6.304919,26.352011,7.717174,2.747377,20.746460,28.328542,2.780187,2.276251,4.241095,1.961732,4.735153
min,0.000000,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1905.000000,1934.000000,1.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1945.000000,1973.000000,1.000000,34.000000,49.000000,4.000000,9.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1969.000000,1998.000000,1.000000,80.000000,231.000000,27.000000,58.000000,9.000000,1.000000,2.000000,24.000000,2.000000,1.000000,18.000000,29.000000,1.000000,1.000000,3.000000,1.000000,4.000000
max,1996.000000,2016.000000,5.000000,165.000000,716.000000,192.000000,262.000000,67.000000,36.000000,73.000000,191.000000,138.000000,42.000000,232.000000,223.000000,120.000000,51.000000,67.000000,19.000000,36.000000

In [88]:
def BattingAverage(x, y):
    if(y != 0):
        return x / y
    else:
        return 0

In [152]:
def age(currentYear, birthYear):
    return currentYear - birthYear

In [110]:
#OBP = (hits + walks + hit by pitch) / (at bats + walks + hit by pitch + sacrifice flies)
def OBS(hits, walks, hbp, ab, sf):
    if((ab + walks + hbp + sf) != 0):
        return (hits + walks + hbp) / (ab + walks + hbp + sf)
    else:
        return 0

In [90]:
df['BA'] = df.apply(lambda row: BattingAverage(row.H, row.AB), axis=1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,Max,BA
0,abercda01,Frank,Abercrombie,1850,1871,1,TRO,NaN,1,4,...,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.000000
1,addybo01,Bob,Addy,1842,1871,1,RC1,NaN,25,118,...,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.271186
2,allisar01,Art,Allison,1849,1871,1,CL1,NaN,29,137,...,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN,HR,0.291971
3,allisdo01,Doug,Allison,1846,1871,1,WS3,NaN,27,133,...,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN,HR,0.330827
4,ansonca01,Cap,Anson,1852,1871,1,RC1,NaN,25,120,...,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN,HR,0.325000
5,armstbo01,Robert,Armstrong,1850,1871,1,FW1,NaN,12,49,...,1.0,0,1.0,NaN,NaN,NaN,NaN,NaN,HR,0.224490
6,barkeal01,Al,Barker,1839,1871,1,RC1,NaN,1,4,...,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.250000
7,barnero01,Ross,Barnes,1850,1871,1,BS1,NaN,31,157,...,6.0,13,1.0,NaN,NaN,NaN,NaN,NaN,HR,0.401274
8,barrebi01,Bill,Barrett,0,1871,1,FW1,NaN,1,5,...,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.200000
9,barrofr01,Frank,Barrows,1844,1871,1,BS1,NaN,18,86,...,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.151163
10,bassjo01,John,Bass,1848,1871,1,CL1,NaN,22,89,...,1.0,3,4.0,NaN,NaN,NaN,NaN,NaN,HR,0.303371
11,battijo01,Joe,Battin,1853,1871,1,CL1,NaN,1,3,...,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.000000
12,bealsto01,Tommy,Beals,1850,1871,1,WS3,NaN,10,36,...,0.0,2,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.194444
13,beaveed01,Edward,Beavens,1848,1871,1,TRO,NaN,3,15,...,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.400000
14,bechtge01,George,Bechtel,1848,1871,1,PH1,NaN,20,94,...,0.0,2,2.0,NaN,NaN,NaN,NaN,NaN,HR,0.351064
15,bellast01,Steve,Bellan,1849,1871,1,TRO,NaN,29,128,...,4.0,9,2.0,NaN,NaN,NaN,NaN,NaN,HR,0.250000
16,berkena01,Nate,Berkenstock,1831,1871,1,PH1,NaN,1,4,...,0.0,0,3.0,NaN,NaN,NaN,NaN,NaN,HR,0.000000
17,berryto01,Tom,Berry,1842,1871,1,PH1,NaN,1,4,...,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.250000
18,berthha01,Harry,Berthrong,1844,1871,1,WS3,NaN,17,73,...,1.0,4,2.0,NaN,NaN,NaN,NaN,NaN,HR,0.232877
19,biermch01,Charles,Bierman,1845,1871,1,FW1,NaN,1,2,...,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.000000
20,birdge01,George,Bird,1850,1871,1,RC1,NaN,25,106,...,0.0,3,2.0,NaN,NaN,NaN,NaN,NaN,HR,0.264151
21,birdsda01,Dave,Birdsall,1838,1871,1,BS1,NaN,29,152,...,0.0,4,4.0,NaN,NaN,NaN,NaN,NaN,HR,0.302632
22,brainas01,Asa,Brainard,1841,1871,1,WS3,NaN,30,134,...,0.0,7,2.0,NaN,NaN,NaN,NaN,NaN,HR,0.223881
23,brannmi01,Mike,Brannock,1851,1871,1,CH1,NaN,3,14,...,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.071429
24,burrohe01,Henry,Burroughs,1845,1871,1,WS3,NaN,12,63,...,0.0,1,1.0,NaN,NaN,NaN,NaN,NaN,HR,0.238095
25,careyto01,Tom,Carey,1846,1871,1,FW1,NaN,19,87,...,0.0,2,1.0,NaN,NaN,NaN,NaN,NaN,HR,0.229885
26,carleji01,Jim,Carleton,1848,1871,1,CL1,NaN,29,127,...,1.0,8,3.0,NaN,NaN,NaN,NaN,NaN,HR,0.251969
27,conefr01,Fred,Cone,1848,1871,1,BS1,NaN,19,77,...,1.0,8,2.0,NaN,NaN,NaN,NaN,NaN,HR,0.259740
28,connone01,Ned,Connor,1850,1871,1,TRO,NaN,7,33,...,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.212121
29,cravebi01,Bill,Craver,1844,1871,1,TRO,NaN,27,118,...,3.0,3,0.0,NaN,NaN,NaN,NaN,NaN,HR,0.322034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102786,wittgni01,Nick,Wittgren,1991,2016,1,MIA,NL,48,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102787,wolteto01,Tony,Wolters,1992,2016,1,COL,NL,71,205,...,1.0,21,53.0,2.0,0.0,4.0,0.0,1.0,HR,0.258537
102788,wongko01,Kolten,Wong,1990,2016,1,SLN,NL,121,313,...,0.0,34,52.0,2.0,9.0,0.0,5.0,3.0,HR,0.239617
102789,woodal02,Alex,Wood,1991,2016,1,LAN,NL,15,16,...,0.0,1,9.0,0.0,0.0,2.0,0.0,0.0,HR,0.250000
102790,woodbl01,Blake,Wood,1985,2016,1,CIN,NL,70,2,...,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102791,woodtr01,Travis,Wood,1987,2016,1,CHN,NL,81,11,...,0.0,1,5.0,0.0,0.0,0.0,0.0,0.0,HR,0.181818
102792,worleva01,Vance,Worley,1987,2016,1,BAL,AL,35,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102793,worthda01,Danny,Worth,1985,2016,1,HOU,AL,16,39,...,0.0,1,6.0,0.0,0.0,0.0,0.0,1.0,HR,0.179487
102794,wrighda03,David,Wright,1982,2016,1,NYN,NL,37,137,...,2.0,26,55.0,0.0,0.0,0.0,0.0,0.0,HR,0.226277
102795,wrighda04,Daniel,Wright,1991,2016,1,CIN,NL,4,5,...,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0,HR,0.000000
102796,wrighda04,Daniel,Wright,1991,2016,2,LAA,AL,5,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102797,wrighmi01,Mike,Wright,1990,2016,1,BAL,AL,18,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102798,wrighst01,Steven,Wright,1984,2016,1,BOS,AL,25,4,...,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102799,yateski01,Kirby,Yates,1987,2016,1,NYA,AL,41,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102800,yelicch01,Christian,Yelich,1991,2016,1,MIA,NL,155,578,...,4.0,72,138.0,4.0,4.0,0.0,5.0,20.0,HR,0.297578
102801,ynoaga01,Gabriel,Ynoa,1993,2016,1,NYN,NL,10,3,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102802,ynoami01,Michael,Ynoa,1991,2016,1,CHA,AL,23,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102803,ynoara01,Rafael,Ynoa,1987,2016,1,COL,NL,3,5,...,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102804,youngch03,Chris,Young,1979,2016,1,KCA,AL,34,1,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102805,youngch04,Chris,Young,1983,2016,1,BOS,AL,76,203,...,2.0,21,50.0,0.0,3.0,0.0,0.0,4.0,HR,0.275862
102806,younger03,Eric,Young,1985,2016,1,NYA,AL,6,1,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102807,youngma03,Madison,Younginer,1990,2016,1,ATL,NL,8,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102808,zastrro01,Rob,Zastryzny,1992,2016,1,CHN,NL,8,3,...,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102809,zieglbr01,Brad,Ziegler,1979,2016,1,ARI,NL,36,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102810,zieglbr01,Brad,Ziegler,1979,2016,2,BOS,AL,33,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000
102811,zimmejo02,Jordan,Zimmermann,1986,2016,1,DET,AL,19,4,...,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0,HR,0.250000
102812,zimmery01,Ryan,Zimmerman,1984,2016,1,WAS,NL,115,427,...,1.0,29,104.0,1.0,5.0,0.0,6.0,12.0,HR,0.217799
102813,zobribe01,Ben,Zobrist,1981,2016,1,CHN,NL,147,523,...,4.0,96,82.0,6.0,4.0,4.0,4.0,17.0,HR,0.271511
102814,zuninmi01,Mike,Zunino,1991,2016,1,SEA,AL,55,164,...,0.0,21,65.0,0.0,6.0,0.0,1.0,0.0,HR,0.207317
102815,zychto01,Tony,Zych,1990,2016,1,SEA,AL,12,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,HR,0.000000

In [146]:
playerCareerTotals = df.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
type(playerCareerTotals)

pandas.core.frame.DataFrame

In [147]:
playerCareerTotals.describe()

,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,BA,OBP
count,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,...,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000,18915.000000
mean,10507.136770,10677.113085,5.858789,279.086809,771.353793,102.275390,201.880994,34.185937,7.029712,15.293841,...,5.143854,71.029236,103.085964,3.873381,5.583505,11.729051,3.721649,12.088924,0.965085,0.712625
std,9820.645025,9959.489812,5.621206,453.824217,1603.985998,238.578514,450.549938,79.835905,18.905794,50.240622,...,16.352069,175.079949,226.909601,16.743993,15.570065,28.469311,12.085521,33.423978,1.242955,1.344112
min,0.000000,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1987.000000,2015.000000,1.000000,13.000000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.090909,0.000000
50%,5961.000000,6042.000000,4.000000,78.000000,71.000000,6.000000,12.000000,2.000000,0.000000,0.000000,...,0.000000,4.000000,11.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.456767,0.000000
75%,15728.000000,15959.500000,9.000000,329.000000,603.000000,63.000000,133.000000,21.000000,4.000000,4.000000,...,1.000000,40.000000,89.000000,0.000000,3.000000,10.000000,0.000000,4.000000,1.360448,0.830890
max,57753.000000,58823.000000,39.000000,3562.000000,14053.000000,2295.000000,4256.000000,792.000000,309.000000,762.000000,...,335.000000,2558.000000,2597.000000,688.000000,287.000000,512.000000,128.000000,350.000000,9.102140,11.476689

In [148]:
listColumns = list(df.columns) 
listColumns = [e for e in listColumns if e not in ('birthYear','yearID')]
print(listColumns)
sst = df.groupby(["playerID","nameFirst","nameLast","birthYear","yearID"], as_index=False)[listColumns].sum()

['playerID', 'nameFirst', 'nameLast', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP', 'Max', 'BA', 'OBP']

In [149]:
sst.describe()

,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,BA,OBP
count,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,...,95250.00000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000,95250.000000
mean,1932.972577,1964.192871,1.163454,55.421806,153.177501,20.310121,40.090068,6.788735,1.395979,3.037092,...,1.02148,14.105176,20.471087,0.769186,1.108787,2.329186,0.739055,2.400651,0.191649,0.141515
std,88.053670,38.751849,0.612216,48.160582,190.781776,29.206727,54.368902,10.002820,2.746006,6.560156,...,2.57278,21.513211,28.880389,2.385772,2.350938,4.302277,1.729382,4.475267,0.150588,0.183013
min,0.000000,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1905.000000,1934.000000,1.000000,15.000000,5.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037037,0.000000
50%,1946.000000,1973.000000,1.000000,38.000000,56.000000,5.000000,10.000000,1.000000,0.000000,0.000000,...,0.00000,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.217486,0.000000
75%,1969.000000,1998.000000,1.000000,91.000000,266.000000,32.000000,67.000000,11.000000,2.000000,3.000000,...,1.00000,21.000000,29.000000,0.000000,1.000000,3.000000,0.000000,3.000000,0.274038,0.299663
max,1996.000000,2016.000000,15.000000,165.000000,716.000000,192.000000,262.000000,67.000000,36.000000,73.000000,...,42.00000,232.000000,223.000000,120.000000,51.000000,67.000000,19.000000,36.000000,2.250000,2.250000

In [150]:
Count_Row1=df.shape[0]
Count_Row2=playerCareerTotals.shape[0]
Count_Row3=sst.shape[0]
print(Count_Row1)
print(Count_Row2)
print(Count_Row3)

102816
18915
95250

In [25]:
#3) How many players have hit 40 or more HRs in one single season?

In [26]:
sst[sst['HR'] >= 40]['HR'].count()

330

In [27]:
#5) How many players have hit 40 2Bs, 10 3Bs, 200 Hits, and 30 HRs (inclusive) in one season? (Number Only)

In [38]:
sst[(sst['2B'] >= 40) & (sst['3B'] >= 10) & (sst['H'] >= 200) & (sst['HR'] >= 30)]['G'].count()

16

In [29]:
#6) How many players have had 100 or more SBs in a season? (Dataframe)

In [30]:
sst[sst['SB'] >= 100]['SB'].count()

20

In [31]:
#7) How many players in the 1960s have hit more than 200 HRs? (Dataframe)

In [51]:
stats1960s = sst[(sst['yearID'] >= 1960) & (sst['yearID'] <= 1969)];
total1960s = stats1960s.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
total1960s[total1960s['HR'] >= 200]['HR'].count()

19

In [108]:
#8) Who has hit the most HRs in history? (Dataframe)

In [105]:
# get the row of max value
playerCareerTotals.loc[playerCareerTotals['HR'].idxmax()]

playerID     bondsba01
nameFirst        Barry
nameLast         Bonds
birthYear        43208
yearID           43923
stint               22
G                 2986
AB                9847
R                 2227
H                 2935
2B                 601
3B                  77
HR                 762
RBI               1996
SB                 514
CS                 141
BB                2558
SO                1539
IBB                688
HBP                106
SH                   4
SF                  91
GIDP               165
Name: 1542, dtype: object

In [ ]:
#9) Who had the most hits in the 1970s? (Dataframe)

In [62]:
stats1970s = sst[(sst['yearID'] >= 1970) & (sst['yearID'] <= 1979)];
total1970s = stats1970s.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
#total1970s[total1970s['HR'] >= 200]['HR'].count()
# get the row of max value
total1970s.loc[total1970s['H'].idxmax()]

playerID     rosepe01
nameFirst        Pete
nameLast         Rose
yearID          19745
birthYear       19410
stint              10
G                1604
AB               6523
R                1068
H                2045
2B                394
3B                 64
HR                 79
RBI               580
SB                105
CS                 60
BB                783
SO                464
IBB                87
HBP                50
SH                  9
SF                 34
GIDP              111
Name: 1639, dtype: object

In [ ]:
#10) Top 5 highest OBP (on base percentage) with at least 500 PAs in 1977?  (Dataframe)
#OBP = (hits + walks + hit by pitch) / (at bats + walks + hit by pitch + sacrifice flies)

In [113]:
sst['OBP'] = sst.apply(lambda row: OBS(row.H, row.BB, row.HBP, row.AB, row.SF), axis=1)
sst1977 = sst[(sst['yearID'] == 1977) & (sst['AB'] >= 500)]
sst1977.sort_values(by='OBP', ascending = False).head(5)

,playerID,nameFirst,nameLast,yearID,birthYear,stint,G,AB,R,H,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,BA,OBP
12979,carewro01,Rod,Carew,1977,1945,1,155,616,128,239,...,13.0,69,55.0,15.0,3.0,1.0,5.0,6.0,0.387987,0.448773
79255,singlke01,Ken,Singleton,1977,1947,1,152,536,90,176,...,1.0,107,101.0,13.0,2.0,0.0,6.0,15.0,0.328358,0.437788
35331,hargrmi01,Mike,Hargrove,1977,1949,1,153,525,98,160,...,5.0,103,59.0,7.0,6.0,8.0,6.0,13.0,0.304762,0.420312
59797,morgajo02,Joe,Morgan,1977,1943,1,153,521,113,150,...,10.0,117,58.0,2.0,2.0,0.0,5.0,5.0,0.287908,0.417054
79094,simmote01,Ted,Simmons,1977,1949,1,150,516,82,164,...,6.0,79,37.0,25.0,2.0,0.0,4.0,20.0,0.317829,0.407654

In [ ]:
#11) Top 8 highest averages in 2013 with at least 300 PAs? (Dataframe)

In [100]:
sst['BA'] = sst.apply(lambda row: BattingAverage(row.H, row.AB), axis=1)
sst2013 = sst[(sst['yearID'] >= 2013) & (sst['AB'] >= 300)]
sst2013.sort_values(by='BA', ascending = False).head(8)

,playerID,nameFirst,nameLast,yearID,birthYear,stint,G,AB,R,H,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,BA
49147,lemahdj01,DJ,LeMahieu,2016,1988,1,146,552,104,192,...,11.0,7.0,66,80.0,2.0,3.0,8.0,6.0,19.0,0.347826
12102,cabremi01,Miguel,Cabrera,2013,1983,1,148,555,103,193,...,3.0,0.0,90,94.0,19.0,5.0,0.0,2.0,19.0,0.347748
60969,murphda08,Daniel,Murphy,2016,1985,1,142,531,88,184,...,5.0,3.0,35,57.0,10.0,8.0,0.0,8.0,4.0,0.346516
70097,ramirha01,Hanley,Ramirez,2013,1983,1,86,304,62,105,...,10.0,2.0,27,52.0,3.0,3.0,0.0,2.0,5.0,0.345395
87092,turnetr01,Trea,Turner,2016,1993,1,73,307,53,105,...,33.0,6.0,14,59.0,0.0,1.0,0.0,2.0,1.0,0.342020
1408,altuvjo01,Jose,Altuve,2014,1990,1,158,660,85,225,...,56.0,9.0,36,53.0,7.0,5.0,1.0,5.0,20.0,0.340909
86981,tulowtr01,Troy,Tulowitzki,2014,1984,1,91,315,71,107,...,1.0,1.0,50,57.0,4.0,5.0,0.0,5.0,4.0,0.339683
12104,cabremi01,Miguel,Cabrera,2015,1983,1,119,429,64,145,...,1.0,1.0,77,82.0,15.0,3.0,0.0,2.0,19.0,0.337995

In [67]:
#12) Leaders in hits from 1940 up to and including 1949. (Dataframe)

In [69]:
stats1940s = sst[(sst['yearID'] >= 1940) & (sst['yearID'] <= 1949)];
total1940s = stats1940s.groupby(["playerID","nameFirst","nameLast"], as_index=False).sum()
#total1970s[total1970s['HR'] >= 200]['HR'].count()
# get the row of max value
total1940s.loc[total1940s['H'].idxmax()]

playerID     boudrlo01
nameFirst          Lou
nameLast      Boudreau
yearID           19445
birthYear        19170
stint               10
G                 1425
AB                5268
R                  758
H                 1578
2B                 339
3B                  59
HR                  62
RBI                692
SB                  47
CS                  47
BB                 706
SO                 268
IBB                  0
HBP                 27
SH                 153
SF                   0
GIDP               131
Name: 138, dtype: object

In [ ]:
#13) Who led MLB with the most hits the most times?  And how many times?  (Dataframe, Number)

In [84]:
#sst.

In [ ]:
#14) Which players have played the most games for their careers?  Top 5, descending by games played presented as a dataframe

In [85]:
playerCareerTotals.sort_values('G',ascending = False).head(5)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
14719,rosepe01,Pete,Rose,48525,49372,26,3562,14053,2165,4256,...,1314.0,198.0,149.0,1566,1143.0,167.0,107.0,56.0,79.0,247.0
18728,yastrca01,Carl,Yastrzemski,44597,45356,23,3308,11988,1816,3419,...,1844.0,168.0,116.0,1845,1393.0,190.0,40.0,13.0,105.0,323.0
1,aaronha01,Hank,Aaron,44482,45195,23,3298,12364,2174,3771,...,2297.0,240.0,73.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0
7383,henderi01,Rickey,Henderson,56782,57754,33,3081,10961,2295,3055,...,1115.0,1406.0,335.0,2190,1694.0,61.0,98.0,30.0,67.0,172.0
3155,cobbty01,Ty,Cobb,45264,45996,24,3035,11434,2246,4189,...,1937.0,892.0,178.0,1249,357.0,0.0,94.0,295.0,0.0,0.0

In [ ]:
#15) How many players have had more than 3000 hits for their careers while also hitting 500 or more HRs?  Just a number is okay here

In [83]:
playerCareerTotals[(playerCareerTotals['H'] >= 3000) & (playerCareerTotals['HR'] >= 500)]['G'].count()

5

In [ ]:
#16) How many HRs were hit during the entire 1988 season?  Just a number is okay here

In [81]:
stats1988 = sst[(sst['yearID'] == 1988)]
stats1988['HR'].sum()

3180

In [ ]:
#17) Please filter out and show me the top 3 average seasons by Wade Boggs during his career in seasons in which he had at least 500 ABs.  I would like a dataframe sorted by average.

In [104]:
wadeBoggs = sst[(sst['nameFirst'] == 'Wade') & (sst['nameLast'] == 'Boggs') & (sst['AB'] >= 500)]
wadeBoggs.sort_values(by='BA', ascending = False).head(3)

,playerID,nameFirst,nameLast,yearID,birthYear,stint,G,AB,R,H,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,BA
7592,boggswa01,Wade,Boggs,1985,1958,1,161,653,107,240,...,2.0,1.0,96,61.0,5.0,4.0,3.0,2.0,20.0,0.367534
7595,boggswa01,Wade,Boggs,1988,1958,1,155,584,128,214,...,2.0,3.0,125,34.0,18.0,3.0,0.0,7.0,23.0,0.366438
7594,boggswa01,Wade,Boggs,1987,1958,1,147,551,108,200,...,1.0,3.0,105,48.0,19.0,2.0,1.0,8.0,13.0,0.362976

In [ ]:
#18) Please filter out the top OBPs for the 1995 season with at least 400 PAs, sorted by OBP.  I would like a dataframe for this

In [115]:
sst1977 = sst[(sst['yearID'] == 1995) & (sst['AB'] >= 400)]
sst1977.sort_values(by='OBP', ascending = False).head(5)

,playerID,nameFirst,nameLast,yearID,birthYear,stint,G,AB,R,H,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,BA,OBP
53468,martied01,Edgar,Martinez,1995,1963,1,145,511,121,182,...,3.0,116,87.0,19.0,8.0,0.0,4.0,11.0,0.356164,0.478873
85252,thomafr04,Frank,Thomas,1995,1968,1,145,493,102,152,...,2.0,136,74.0,29.0,6.0,0.0,12.0,14.0,0.308316,0.454405
85404,thomeji01,Jim,Thome,1995,1970,1,137,452,92,142,...,3.0,97,113.0,3.0,5.0,0.0,3.0,8.0,0.314159,0.438061
7771,bondsba01,Barry,Bonds,1995,1964,1,144,506,109,149,...,10.0,120,83.0,22.0,5.0,0.0,4.0,12.0,0.294466,0.431496
75444,salmoti01,Tim,Salmon,1995,1968,1,143,537,111,177,...,5.0,91,111.0,2.0,6.0,0.0,4.0,9.0,0.329609,0.429467

In [ ]:
#19) Who had the most 3Bs (in total) in 1922, 1925, 1926, and 1928?  I would like a dataframe with just the leader

In [ ]:
#20) How many players have hit 30 or more HRs in season while also stealing (SB) 30 more or bases?  A number is okay here

In [78]:
sst[(sst['HR'] >= 30) & (sst['SB'] >= 30)]['G'].count()

60

In [ ]:
#21) Who had the highest OBP is 1986 with at least 400 PAs? (Dataframe)

In [116]:
sst1977 = sst[(sst['yearID'] == 1986) & (sst['AB'] >= 400)]
sst1977.sort_values(by='OBP', ascending = False).head(1)

,playerID,nameFirst,nameLast,yearID,birthYear,stint,G,AB,R,H,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,BA,OBP
7593,boggswa01,Wade,Boggs,1986,1958,1,149,580,107,207,...,4.0,105,44.0,14.0,0.0,4.0,4.0,11.0,0.356897,0.45283

In [ ]:
#22) Same question but for 1997 and only in the NL (check league ID)? (Dataframe)

In [133]:
df['OBP'] = df.apply(lambda row: OBS(row.H, row.BB, row.HBP, row.AB, row.SF), axis=1)
df1977 = df[(df['yearID'] == 1997) & (df['AB'] >= 400) & (df['lgID'] == 'NL')]
df1977.sort_values(by='OBP', ascending = False).head(1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,...,BB,SO,IBB,HBP,SH,SF,GIDP,Max,BA,OBP
76562,walkela01,Larry,Walker,1966,1997,1,COL,NL,153,568,...,78,90.0,14.0,14.0,0.0,4.0,15.0,HR,0.366197,0.451807
75505,bondsba01,Barry,Bonds,1964,1997,1,SFN,NL,159,532,...,145,87.0,34.0,8.0,0.0,5.0,13.0,HR,0.291353,0.446377
76283,piazzmi01,Mike,Piazza,1968,1997,1,LAN,NL,152,556,...,69,77.0,11.0,3.0,0.0,5.0,19.0,HR,0.361511,0.431280
75441,bagweje01,Jeff,Bagwell,1968,1997,1,HOU,NL,162,566,...,127,122.0,27.0,16.0,0.0,8.0,10.0,HR,0.286219,0.425384
76412,sheffga01,Gary,Sheffield,1968,1997,1,FLO,NL,135,444,...,121,79.0,11.0,15.0,0.0,2.0,7.0,HR,0.250000,0.424399

In [ ]:
#23) Who had more than the league average HRs in 2012 (filter out all players with less 500 PAs)? (Dataframe)

In [ ]:
sst1977 = sst[(sst['yearID'] == 2012) & (sst['AB'] >= 400)]

In [ ]:
#24) Who is the youngest player to hit 50 or more HRs in a single season? (Dataframe)

In [161]:
#sst.describe()
sst50 = sst[(sst['HR'] >= 50)]
sst50.sort_values('Age', ascending=[True]).head(1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,G,AB,R,H,...,BB,SO,IBB,HBP,SH,SF,GIDP,BA,OBP,Age
26282,fieldpr01,Prince,Fielder,1984,2007,1,158,573,109,165,...,90,121.0,21.0,14.0,0.0,4.0,9.0,0.287958,0.395007,23

In [ ]:
#25) Who are the five youngest players to hit 300 or more HRs for their career? (Dataframe)

In [10]:
playerCareerTotals.mean()

,,,birthYear,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
aardsda01,David,Aardsma,1981.0,2009.333333,1.000000,36.777778,0.444444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.111111,0.000000,0.000000
aaronha01,Hank,Aaron,1934.0,1965.000000,1.000000,143.391304,537.565217,94.521739,163.956522,27.130435,4.260870,32.826087,99.869565,10.434783,3.173913,60.956522,60.130435,13.318182,1.391304,0.913043,5.260870,14.260870
aaronto01,Tommie,Aaron,1939.0,1966.857143,1.000000,62.428571,134.857143,14.571429,30.857143,6.000000,0.857143,1.857143,13.428571,1.285714,1.142857,12.285714,20.714286,0.428571,0.000000,1.285714,0.857143,5.142857
aasedo01,Don,Aase,1954.0,1983.538462,1.000000,34.461538,0.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.230769,0.000000,0.000000,0.000000,0.000000,0.000000
abadan01,Andy,Abad,1972.0,2003.333333,1.000000,5.000000,7.000000,0.333333,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,1.333333,1.666667,0.000000,0.000000,0.000000,0.000000,0.333333
abadfe01,Fernando,Abad,1985.0,2013.375000,1.125000,39.375000,1.125000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.625000,0.000000,0.000000,0.000000,0.000000,0.125000
abadijo01,John,Abadie,1850.0,1875.000000,1.500000,6.000000,24.500000,2.000000,5.500000,0.000000,0.000000,0.000000,2.500000,0.500000,0.000000,0.000000,1.500000,NaN,NaN,NaN,NaN,NaN
abbated01,Ed,Abbaticchio,1877.0,1905.100000,1.100000,85.500000,304.400000,35.500000,77.200000,9.900000,4.300000,1.100000,32.400000,14.200000,NaN,28.900000,8.000000,NaN,3.300000,9.300000,NaN,NaN
abbeybe01,Bert,Abbey,1869.0,1894.166667,1.166667,13.166667,37.500000,3.500000,6.333333,0.500000,0.500000,0.000000,2.833333,0.500000,NaN,3.500000,9.000000,NaN,0.000000,1.333333,NaN,NaN
abbeych01,Charlie,Abbey,1866.0,1895.000000,1.000000,90.200000,350.200000,61.400000,98.400000,13.400000,9.200000,3.800000,56.000000,18.600000,NaN,33.400000,26.250000,NaN,4.600000,6.000000,NaN,NaN
abbotda01,Dan,Abbott,1862.0,1890.000000,1.000000,3.000000,7.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN
abbotfr01,Fred,Abbott,1874.0,1904.000000,1.000000,53.333333,171.000000,16.000000,35.666667,7.000000,2.000000,0.333333,16.333333,4.666667,NaN,6.333333,NaN,NaN,2.666667,6.666667,NaN,NaN
abbotgl01,Glenn,Abbott,1951.0,1978.583333,1.083333,20.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
abbotje01,Jeff,Abbott,1972.0,1999.000000,1.000000,46.600000,119.200000,16.400000,31.400000,6.600000,0.400000,3.600000,16.600000,1.200000,1.000000,7.600000,18.200000,0.400000,0.600000,1.000000,1.400000,2.400000
abbotji01,Jim,Abbott,1967.0,1993.818182,1.090909,23.909091,1.909091,0.000000,0.181818,0.000000,0.000000,0.000000,0.272727,0.000000,0.000000,0.000000,0.909091,0.000000,0.000000,0.272727,0.000000,0.090909
abbotku01,Kurt,Abbott,1969.0,1997.100000,1.100000,70.200000,204.400000,27.300000,52.300000,10.900000,2.300000,6.200000,24.200000,2.200000,1.100000,13.300000,57.100000,1.100000,1.700000,2.100000,1.200000,3.700000
abbotky01,Kyle,Abbott,1968.0,1993.500000,1.000000,14.250000,7.750000,0.500000,0.750000,0.250000,0.000000,0.000000,0.500000,0.000000,0.000000,0.250000,4.750000,0.000000,0.000000,1.500000,0.000000,0.000000
abbotod01,Ody,Abbott,1888.0,1910.000000,1.000000,22.000000,70.000000,2.000000,13.000000,2.000000,1.000000,0.000000,6.000000,3.000000,NaN,6.000000,20.000000,NaN,0.000000,6.000000,NaN,NaN
abbotpa01,Paul,Abbott,1967.0,1998.083333,1.083333,13.500000,1.666667,0.166667,0.416667,0.083333,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.416667,0.000000,0.000000
aberal01,Al,Aber,1927.0,1954.375000,1.250000,21.000000,12.500000,0.625000,1.750000,0.000000,0.000000,0.000000,0.750000,0.000000,0.000000,1.000000,5.125000,0.000000,0.000000,1.000000,0.200000,0.250000
abercda01,Frank,Abercrombie,1850.0,1871.000000,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
abercre01,Reggie,Abercrombie,1980.0,2007.000000,1.000000,60.000000,128.666667,21.666667,28.666667,6.666667,0.666667,3.000000,11.333333,6.000000,2.666667,7.000000,41.000000,0.666667,2.333333,1.666667,0.666667,1.000000
abernbi01,Bill,Abernathie,1929.0,1952.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000
abernbr01,Brent,Abernathy,1977.0,2002.800000,1.200000,46.400000,173.600000,19.400000,42.400000,7.200000,1.000000,1.600000,15.800000,4.200000,1.400000,12.000000,18.600000,0.200000,1.400000,3.200000,0.800000,3.000000
abernte01,Ted,Abernathy,1921.0,1943.000000,1.000000,2.333333,1.666667,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,1.000000,NaN,0.000000,0.000000,NaN,0.000000
abernte02,Ted,Abernathy,1933.0,1965.235294,1.235294,40.058824,10.647059,0.705882,1.470588,0.176471,0.000000,0.000000,0.529412,0.000000,0.000000,0.352941,4.352941,0.000000,0.117647,0.882353,0.000000,0.235294
abernwo01,Woody,Abernathy,1915.0,1946.500000,1.000000,8.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
aberscl01,Cliff,Aberson,1921.0,1948.000000,1.000000,21.000000,59.666667,8.333333,15.000000,2.333333,1.000000,1.666667,8.666667,0.000000,NaN,8.333333,14.666667,NaN,0.000000,0.000000,NaN,2.000000
ablesha01,Harry,Ables,1883.0,1908.333333,1.000000,4.666667,8.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,NaN,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
abnersh01,Shawn,Abner,1966.0,1989.714286,1.142857,56.000000,120.000000,12.714286,27.285714,5.571429,0.571429,1.571429,10.142857,0.857143,1.142857,6.142857,21.857143,1.428571,1.000000,0.714286,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zimmejo02,Jordan,Zimmermann,1986.0,2012.500000,1.000000,25.000000,40.500000,2.250000,6.875000,0.750000,0.000000,0.125000,1.875000,0.000000,0.000000,1.250000,12.375000,0.000000,0.000000,5.500000,0.250000,0.250000
zimmero01,Roy,Zimmerman,1913.0,1945.000000,1.000000,27.000000,98.000000,14.000000,27.000000,1.000000,0.000000,5.000000,15.000000,1.000000,NaN,5.000000,16.000000,NaN,3.000000,0.000000,NaN,2.000000
zimmery01,Ryan,Zimmerman,1984.0,2010.500000,1.000000,117.333333,451.333333,66.083333,125.416667,28.166667,1.666667,17.916667,69.083333,3.416667,1.250000,44.916667,90.583333,3.416667,2.083333,0.083333,4.833333,14.416667
zinkch01,Charlie,Zink,1979.0,2008.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zinkwa01,Walter,Zink,1898.0,1921.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,0.000000,0.000000,NaN,NaN
zinnfr01,Frank,Zinn,1865.0,1888.000000,1.000000,2.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,NaN,NaN,0.000000,NaN,NaN,NaN
zinngu01,Guy,Zinn,1887.0,1913.000000,1.000000,62.800000,220.600000,27.200000,59.400000,10.200000,4.600000,3.000000,27.800000,5.600000,NaN,21.800000,25.666667,NaN,1.200000,5.800000,NaN,NaN
zinnji01,Jimmy,Zinn,1895.0,1922.200000,1.000000,15.200000,24.000000,3.400000,6.800000,1.200000,0.400000,0.400000,3.000000,0.400000,0.250000,1.400000,3.600000,NaN,0.200000,0.600000,NaN,NaN
zinsebi01,Bill,Zinser,1918.0,1944.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zinteal01,Alan,Zinter,1968.0,2003.000000,1.000000,33.500000,39.000000,3.500000,6.500000,2.000000,0.000000,1.500000,4.500000,0.000000,0.000000,2.500000,17.000000,0.000000,0.000000,0.000000,0.500000,0.000000
zipfebu01,Bud,Zipfel,1938.0,1961.500000,1.000000,59.000000,177.000000,19.000000,39.000000,5.500000,3.000000,5.000000,19.500000,1.000000,1.500000,16.000000,46.000000,0.500000,0.500000,2.000000,1.000000,2.000000
ziskri01,Richie,Zisk,1949.0,1977.000000,1.000000,111.769231,395.692308,52.384615,113.615385,18.846154,2.000000,15.923077,60.923077,0.615385,1.153846,41.000000,70.000000,4.000000,0.923077,0.538462,3.153846,10.615385
zitoba01,Barry,Zito,1978.0,2007.066667,1.000000,28.933333,22.933333,0.800000,2.333333,0.000000,0.000000,0.000000,0.733333,0.000000,0.000000,1.200000,6.600000,0.000000,0.000000,3.733333,0.000000,0.266667
zitzmbi01,Billy,Zitzmann,1895.0,1924.714286,1.142857,58.000000,143.428571,28.142857,38.285714,5.428571,1.571429,0.428571,12.714286,6.000000,11.000000,11.857143,12.142857,NaN,2.285714,5.571429,NaN,NaN
zmiched01,Ed,Zmich,1884.0,1910.500000,1.000000,6.500000,8.500000,0.000000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,NaN,0.000000,5.000000,NaN,0.000000,0.000000,NaN,NaN
zobribe01,Ben,Zobrist,1981.0,2011.333333,1.083333,111.416667,403.333333,61.250000,107.250000,24.666667,3.166667,12.083333,53.583333,9.250000,3.583333,58.333333,69.916667,2.666667,2.166667,1.916667,4.583333,8.083333
zoccope01,Peter,Zoccolillo,1977.0,2003.000000,1.000000,20.000000,37.000000,0.000000,4.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,2.000000,13.000000,0.000000,0.000000,0.000000,0.000000,1.000000
zoldasa01,Sam,Zoldak,1918.0,1948.000000,1.100000,25.100000,28.600000,1.600000,5.000000,0.600000,0.000000,0.000000,1.100000,0.100000,0.000000,1.000000,5.200000,NaN,0.100000,0.900000,NaN,0.400000
zoskyed01,Eddie,Zosky,1968.0,1995.400000,1.000000,8.800000,10.000000,0.800000,1.600000,0.200000,0.400000,0.000000,0.600000,0.000000,0.000000,0.200000,2.600000,0.000000,0.000000,0.200000,0.200000,0.200000
zuberbi01,Bill,Zuber,1913.0,1942.250000,1.083333,18.666667,19.083333,0.833333,2.583333,0.333333,0.416667,0.000000,0.916667,0.000000,0.000000,0.833333,5.500000,NaN,0.000000,1.666667,NaN,0.800000
zuberjo01,Jon,Zuber,1969.0,1997.000000,1.000000,34.000000,68.000000,6.500000,17.000000,3.500000,0.500000,1.500000,8.000000,0.500000,0.000000,6.000000,10.000000,0.500000,0.500000,0.500000,0.500000,2.000000
zuletju01,Julio,Zuleta,1975.0,2000.500000,1.000000,39.500000,87.000000,12.000000,21.500000,5.500000,0.000000,4.500000,18.000000,0.000000,1.000000,5.000000,25.500000,0.500000,3.000000,0.000000,0.500000,2.500000
zumayjo01,Joel,Zumaya,1984.0,2008.000000,1.000000,34.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zuninmi01,Mike,Zunino,1991.0,2014.500000,1.000000,87.500000,281.250000,29.250000,54.750000,10.750000,0.500000,12.500000,33.250000,0.250000,1.000000,18.750000,101.000000,0.250000,7.750000,2.000000,2.000000,5.750000
zupcibo01,Bob,Zupcic,1966.0,1992.800000,1.200000,63.800000,159.000000,19.800000,39.800000,9.400000,0.800000,1.400000,16.000000,1.400000,1.000000,11.400000,27.400000,0.600000,1.200000,4.000000,1.600000,3.000000
zupofr01,Frank,Zupo,1939.0,1958.666667,1.000000,5.333333,6.000000,1.000000,1.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zuvelpa01,Paul,Zuvella,1958.0,1986.111111,1.000000,23.222222,54.555556,4.555556,12.111111,1.888889,0.222222,0.222222,2.222222,0.222222,0.000000,3.777778,5.555556,0.111111,0.222222,2.000000,0.000000,0.888889
zuverge01,George,Zuverink,1924.0,1955.100000,1.200000,26.600000,14.200000,0.500000,2.100000,0.200000,0.100000,0.000000,0.700000,0.000000,0.100000,0.900000,3.900000,0.000000,0.000000,1.600000,0.000000,0.300000
zwilldu01,Dutch,Zwilling,1888.0,1913.750000,1.000000,91.500000,320.000000,41.750000,91.000000,19.000000,3.750000,7.500000,50.500000,11.500000,NaN,32.000000,46.333333,NaN,1.000000,7.750000,NaN,NaN
zychto01,Tony,Zych,1990.0,2015.500000,1.000000,12.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000