### Project outline: 

- Read data into Jupyter notebook, use pandas to import data into a data frame
- Preprocess data: Explore data, check for missing data and apply data scaling. Justify the type of scaling used.
- Goal is to predict the **total transaction revenue**. 
- Decide aboute a good evaluation strategy and justify your choice.
- Split dataset into train and test dataset. 
- Choose two supervised learning model of your choice to train on train set. Use proper methods to find the best parameters. Evaluate your method on test data according to evaluation strategy. 
- Choose two unsupervised learning models, clustering, to train on your dataset. Discuss results. 
- Choose two unsupervised learning models, dimentionally reduction, and train it your dataset. Now use the same supervised learning models above on reduced dataset. Can you see any differences? Discuss the result. 
- Use a neural network model on your dataset. Compare the result with other two supervised learning models. Which model performs better? 

### Deliverables:
- Submit IPython notebook. Use markdown to provide an inline comments for this project.
- Submit only one notebook. Before submitting, make sure everything runs as expected. To check that, restart the kernel (in the menubar, select Kernel > Restart) and then run all cells (in the menubar, select Cell > Run All).
- Visualization expected. 

### Dataset Description
This is an online Merchandise Store customer dataset. Goal is to predict the total transaction revenue. 
Each row in the dataset is one visit to the store. 

Data Fields
- fullVisitorId- A unique identifier for each user of the Google Merchandise Store.
- channelGrouping - The channel via which the user came to the Store.
- date - The date on which the user visited the Store.
- device - The specifications for the device used to access the Store.
- geoNetwork - This section contains information about the geography of the user.
- sessionId - A unique identifier for this visit to the store.
- socialEngagementType - Engagement type, either "Socially Engaged" or "Not Socially Engaged".
- totals - This section contains aggregate values across the session.
- trafficSource - This section contains information about the Traffic Source from which the session originated.
- visitId - An identifier for this session. This is part of the value usually stored as the _utmb cookie. This is only unique to the user. For a completely unique ID, you should use a combination of fullVisitorId and visitId.
- visitNumber - The session number for this user. If this is the first session, then this is set to 1.
- visitStartTime - The timestamp (expressed as POSIX time).
- hits - This row and nested fields are populated for any and all types of hits. Provides a record of all page visits.
- customDimensions - This section contains any user-level or session-level custom dimensions that are set for a session. This is a repeated field and has an entry for each dimension that is set.

In [252]:
import pandas as pd
import numpy as np
import ast
import json
%matplotlib inline

In [253]:
#Read data into Jupyter notebook, use pandas to import data into a data frame

In [291]:
data = pd.read_csv("data.csv")

In [255]:
#Preprocess data: Explore data

In [256]:
data.describe()

,date,fullVisitorId,visitId,visitNumber,visitStartTime,totals_bounces,totals_hits,totals_newVisits,totals_pageviews,totals_sessionQualityDim,totals_timeOnSite,totals_totalTransactionRevenue,totals_transactionRevenue,totals_transactions,totals_visits
count,2.000000e+04,2.000000e+04,2.000000e+04,20000.000000,2.000000e+04,9873.0,20000.000000,15088.0,19999.000000,9120.000000,10101.000000,1.930000e+02,1.930000e+02,196.000000,20000.0
mean,2.017041e+07,4.533406e+18,1.498277e+09,2.264200,1.498277e+09,1.0,4.794450,1.0,3.971549,4.456140,264.244629,1.278192e+08,1.087636e+08,1.040816,1.0
std,4.737638e+03,3.067707e+18,1.565797e+07,7.876636,1.565797e+07,0.0,9.080243,0.0,6.498605,12.593541,459.176173,2.432262e+08,1.711924e+08,0.222727,0.0
min,2.016090e+07,8.864048e+13,1.472799e+09,1.000000,1.472800e+09,1.0,1.000000,1.0,1.000000,1.000000,1.000000,4.990000e+06,1.990000e+06,1.000000,1.0
25%,2.017020e+07,1.618305e+18,1.486118e+09,1.000000,1.486118e+09,1.0,1.000000,1.0,1.000000,1.000000,35.000000,2.799000e+07,2.102000e+07,1.000000,1.0
50%,2.017062e+07,4.446795e+18,1.498247e+09,1.000000,1.498247e+09,1.0,2.000000,1.0,2.000000,1.000000,94.000000,5.171000e+07,4.458000e+07,1.000000,1.0
75%,2.017113e+07,7.218982e+18,1.512038e+09,1.000000,1.512038e+09,1.0,5.000000,1.0,4.000000,1.000000,270.000000,1.141600e+08,1.087200e+08,1.000000,1.0
max,2.018042e+07,9.999250e+18,1.523862e+09,401.000000,1.523862e+09,1.0,229.000000,1.0,165.000000,96.000000,5553.000000,2.103690e+09,1.171470e+09,3.000000,1.0

In [257]:
data.head(5)

,channelGrouping,customDimensions,date,device,fullVisitorId,geoNetwork,hits,socialEngagementType,trafficSource,visitId,...,totals_bounces,totals_hits,totals_newVisits,totals_pageviews,totals_sessionQualityDim,totals_timeOnSite,totals_totalTransactionRevenue,totals_transactionRevenue,totals_transactions,totals_visits
0,Organic Search,"[{'index': '4', 'value': 'EMEA'}]",20171016,{'mobileDeviceInfo': 'not available in demo da...,3162355547410993243,"{'cityId': 'not available in demo dataset', 'm...","[{'hitNumber': '1', 'time': '0', 'hour': '17',...",Not Socially Engaged,"{'campaign': '(not set)', 'source': 'google', ...",1508198450,...,1.0,1,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1
1,Referral,"[{'index': '4', 'value': 'North America'}]",20171016,{'mobileDeviceInfo': 'not available in demo da...,8934116514970143966,"{'cityId': 'not available in demo dataset', 'm...","[{'hitNumber': '1', 'time': '0', 'hour': '10',...",Not Socially Engaged,{'referralPath': '/a/google.com/transportation...,1508176307,...,NaN,2,NaN,2.0,2.0,28.0,NaN,NaN,NaN,1
2,Direct,"[{'index': '4', 'value': 'North America'}]",20171016,{'mobileDeviceInfo': 'not available in demo da...,7992466427990357681,"{'cityId': 'not available in demo dataset', 'm...","[{'hitNumber': '1', 'time': '0', 'hour': '17',...",Not Socially Engaged,"{'isTrueDirect': True, 'campaign': '(not set)'...",1508201613,...,NaN,2,1.0,2.0,1.0,38.0,NaN,NaN,NaN,1
3,Organic Search,"[{'index': '4', 'value': 'EMEA'}]",20171016,{'mobileDeviceInfo': 'not available in demo da...,9075655783635761930,"{'cityId': 'not available in demo dataset', 'm...","[{'hitNumber': '1', 'time': '0', 'hour': '9', ...",Not Socially Engaged,"{'campaign': '(not set)', 'source': 'google', ...",1508169851,...,NaN,2,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1
4,Organic Search,"[{'index': '4', 'value': 'Central America'}]",20171016,{'mobileDeviceInfo': 'not available in demo da...,6960673291025684308,"{'cityId': 'not available in demo dataset', 'm...","[{'hitNumber': '1', 'time': '0', 'hour': '14',...",Not Socially Engaged,"{'campaign': '(not set)', 'source': 'google', ...",1508190552,...,NaN,2,1.0,2.0,1.0,52.0,NaN,NaN,NaN,1

In [258]:
data.shape

(20000, 22)

In [292]:
list(data)

['channelGrouping',
 'customDimensions',
 'date',
 'device',
 'fullVisitorId',
 'geoNetwork',
 'hits',
 'socialEngagementType',
 'trafficSource',
 'visitId',
 'visitNumber',
 'visitStartTime',
 'totals_bounces',
 'totals_hits',
 'totals_newVisits',
 'totals_pageviews',
 'totals_sessionQualityDim',
 'totals_timeOnSite',
 'totals_totalTransactionRevenue',
 'totals_transactionRevenue',
 'totals_transactions',
 'totals_visits']

In [260]:
#check for missing data

In [261]:
data.isnull().sum()

channelGrouping                       0
customDimensions                      0
date                                  0
device                                0
fullVisitorId                         0
geoNetwork                            0
hits                                  0
socialEngagementType                  0
trafficSource                         0
visitId                               0
visitNumber                           0
visitStartTime                        0
totals_bounces                    10127
totals_hits                           0
totals_newVisits                   4912
totals_pageviews                      1
totals_sessionQualityDim          10880
totals_timeOnSite                  9899
totals_totalTransactionRevenue    19807
totals_transactionRevenue         19807
totals_transactions               19804
totals_visits                         0
dtype: int64

In [262]:
payingCustomers = data.loc[data['totals_totalTransactionRevenue'].notnull()]

In [263]:
payingCustomers.shape

(193, 22)

In [264]:
#Columns that are not populated in the Demo Data Set
#Device (we can drop a large part of this dictionary)
#geoNetwork (We can drop part of this dictionary)
#traffic source (also has some missing values)

In [265]:
def string_to_dict(dict_string):
    # Convert to proper json format
    #dict_string = dict_string.replace(" True", ' "True"').replace(" False", ' "False"').replace("{'", '{"').replace("'}", '"}').replace("':", '":').replace(" '", ' "').replace("',", '",')
    # Use Json to convert string to dictionary
    return json.loads(dict_string)

In [266]:
def string_to_dict_simple(dict_string):
    return ast.literal_eval(dict_string)

In [267]:
#This column doesn't seem to provide much value. I'll be dropping it.

customDimensionsData = data['customDimensions'].apply(string_to_dict_simple)
customDimensionsDataFrame = pd.DataFrame(list(customDimensionsData))

customDimensionsDataFrame.head()

                                            0
0             {'index': '4', 'value': 'EMEA'}
1    {'index': '4', 'value': 'North America'}
2    {'index': '4', 'value': 'North America'}
3             {'index': '4', 'value': 'EMEA'}
4  {'index': '4', 'value': 'Central America'}

In [268]:
deviceData = data['device'].apply(string_to_dict_simple)
deviceDataFrame = pd.DataFrame(list(deviceData))

deviceDataFrame.head()

,browser,browserSize,browserVersion,deviceCategory,flashVersion,isMobile,language,mobileDeviceBranding,mobileDeviceInfo,mobileDeviceMarketingName,mobileDeviceModel,mobileInputSelector,operatingSystem,operatingSystemVersion,screenColors,screenResolution
0,Firefox,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,Windows,not available in demo dataset,not available in demo dataset,not available in demo dataset
1,Chrome,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,Chrome OS,not available in demo dataset,not available in demo dataset,not available in demo dataset
2,Chrome,not available in demo dataset,not available in demo dataset,mobile,not available in demo dataset,True,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,Android,not available in demo dataset,not available in demo dataset,not available in demo dataset
3,Chrome,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,Windows,not available in demo dataset,not available in demo dataset,not available in demo dataset
4,Chrome,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,Windows,not available in demo dataset,not available in demo dataset,not available in demo dataset

In [269]:
geoData = data['geoNetwork'].apply(string_to_dict_simple)
geoDataFrame = pd.DataFrame(list(geoData))

geoDataFrame.head()

,city,cityId,continent,country,latitude,longitude,metro,networkDomain,networkLocation,region,subContinent
0,not available in demo dataset,not available in demo dataset,Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),not available in demo dataset,not available in demo dataset,Western Europe
1,Cupertino,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,San Francisco-Oakland-San Jose CA,(not set),not available in demo dataset,California,Northern America
2,not available in demo dataset,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,windjammercable.net,not available in demo dataset,not available in demo dataset,Northern America
3,not available in demo dataset,not available in demo dataset,Asia,Turkey,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Western Asia
4,not available in demo dataset,not available in demo dataset,Americas,Mexico,not available in demo dataset,not available in demo dataset,not available in demo dataset,prod-infinitum.com.mx,not available in demo dataset,not available in demo dataset,Central America

In [278]:
#I have no idea what to do with this information... it's so much and so nested. I'll be dropping this column.

print(data['hits'][1])
#hitsData = data['hits'].apply(string_to_dict_simple)
#hitsDataFrame = pd.DataFrame(list(hitsData))

#hitsDataFrame.head()

[{'hitNumber': '1', 'time': '0', 'hour': '10', 'minute': '51', 'isInteraction': True, 'isEntrance': True, 'referer': 'https://sites.google.com/a/google.com/transportation/mtv-services/bikes/bike2workmay2016', 'page': {'pagePath': '/home', 'hostname': 'shop.googlemerchandisestore.com', 'pageTitle': 'Home', 'searchKeyword': 'jersey', 'searchCategory': '(not set)', 'pagePathLevel1': '/home', 'pagePathLevel2': '', 'pagePathLevel3': '', 'pagePathLevel4': ''}, 'appInfo': {'screenName': 'shop.googlemerchandisestore.com/home', 'landingScreenName': 'shop.googlemerchandisestore.com/home', 'exitScreenName': 'shop.googlemerchandisestore.com/asearch.html', 'screenDepth': '0'}, 'exceptionInfo': {'isFatal': True}, 'product': [], 'promotion': [{'promoId': 'Apparel Row 1', 'promoName': 'Apparel', 'promoCreative': 'home_main_link_apparel.jpg', 'promoPosition': 'Row 1'}, {'promoId': 'Backpacks Row 2 Combo', 'promoName': 'Backpacks', 'promoCreative': 'home_bags_google_2.jpg', 'promoPosition': 'Row 2 Combo'}, {'promoId': 'Mens T-Shirts Row 3-1', 'promoName': 'Mens T-Shirts', 'promoCreative': 'mens-tshirts.jpg', 'promoPosition': 'Row 3-1'}, {'promoId': 'Womens T-Shirts Row 3-2', 'promoName': 'Womens T-Shirts', 'promoCreative': 'womens-tshirts.jpg', 'promoPosition': 'Row 3-2'}, {'promoId': 'Office Row 5 Color Combo', 'promoName': 'Office', 'promoCreative': 'green_row_link_to_office.jpg', 'promoPosition': 'Row 5 Color Combo'}, {'promoId': 'Drinkware Row 4 Color Combo', 'promoName': 'Drinkware', 'promoCreative': 'red_row_hydrate.jpg', 'promoPosition': 'Row 4 Color Combo'}, {'promoId': 'Google Brand Row 7-1', 'promoName': 'Google Brand', 'promoCreative': 'home_lower_google_500.jpg', 'promoPosition': 'Brand Row 7-1'}, {'promoId': 'YouTube Brand Row 7-2', 'promoName': 'YouTube Brand', 'promoCreative': 'home_lower_youtube_500.jpg', 'promoPosition': 'Brand Row 7-2'}, {'promoId': 'Android Brand Row 7-3', 'promoName': 'Andriod Brand', 'promoCreative': 'home_lower_android_500.jpg', 'promoPosition': 'Brand Row 7-3'}], 'promotionActionInfo': {'promoIsView': True}, 'eCommerceAction': {'action_type': '0', 'step': '1'}, 'experiment': [], 'customVariables': [], 'customDimensions': [], 'customMetrics': [], 'type': 'PAGE', 'social': {'socialNetwork': '(not set)', 'hasSocialSourceReferral': 'No', 'socialInteractionNetworkAction': ' : '}, 'contentGroup': {'contentGroup1': '(not set)', 'contentGroup2': '(not set)', 'contentGroup3': '(not set)', 'contentGroup4': '(not set)', 'contentGroup5': '(not set)', 'previousContentGroup1': '(entrance)', 'previousContentGroup2': '(entrance)', 'previousContentGroup3': '(entrance)', 'previousContentGroup4': '(entrance)', 'previousContentGroup5': '(entrance)'}, 'dataSource': 'web', 'publisher_infos': []}, {'hitNumber': '2', 'time': '27844', 'hour': '10', 'minute': '52', 'isInteraction': True, 'isExit': True, 'page': {'pagePath': '/asearch.html', 'hostname': 'shop.googlemerchandisestore.com', 'pageTitle': 'Store search results', 'pagePathLevel1': '/asearch.html', 'pagePathLevel2': '', 'pagePathLevel3': '', 'pagePathLevel4': ''}, 'transaction': {'currencyCode': 'USD'}, 'item': {'currencyCode': 'USD'}, 'appInfo': {'screenName': 'shop.googlemerchandisestore.com/asearch.html', 'landingScreenName': 'shop.googlemerchandisestore.com/home', 'exitScreenName': 'shop.googlemerchandisestore.com/asearch.html', 'screenDepth': '0'}, 'exceptionInfo': {'isFatal': True}, 'product': [{'productSKU': 'GGOEGAAX0104', 'v2ProductName': "Google Men's 100% Cotton Short Sleeve Hero Tee White", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '1'}, {'productSKU': 'GGOEGAAX0105', 'v2ProductName': "Google Men's 100% Cotton Short Sleeve Hero Tee Black", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '2'}, {'productSKU': 'GGOEGAAX0106', 'v2ProductName': "Google Men's 100% Cotton Short Sleeve Hero Tee Navy", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '3'}, {'productSKU': 'GGOEGAAX0279', 'v2ProductName': "Google Women's Short Sleeve Hero Tee White", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '4'}, {'productSKU': 'GGOEGAAX0291', 'v2ProductName': "Google Women's Short Sleeve Hero Tee Sky Blue", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '18990000', 'localProductPrice': '18990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '5'}, {'productSKU': 'GGOEGAAX0278', 'v2ProductName': "Google Women's Short Sleeve Hero Tee Black", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '6'}, {'productSKU': 'GGOEGAAX0297', 'v2ProductName': "Google Women's Short Sleeve Hero Tee Red Heather", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '18990000', 'localProductPrice': '18990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '7'}, {'productSKU': 'GGOEGAAX0107', 'v2ProductName': "Google Men's 100% Cotton Short Sleeve Hero Tee Red", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '8'}, {'productSKU': 'GGOEGAAX0280', 'v2ProductName': "Google Women's Short Sleeve Hero Tee Grey", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '9'}, {'productSKU': 'GGOEGAAX0289', 'v2ProductName': "Google Women's Short Sleeve Hero Dark Grey", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '18990000', 'localProductPrice': '18990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '10'}, {'productSKU': 'GGOEGAAX0281', 'v2ProductName': "Google Women's Short Sleeve Badge Tee Grey", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '11'}, {'productSKU': 'GGOEGAAX0746', 'v2ProductName': "Google Women's Short Sleeve Badge Tee Navy", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '16990000', 'localProductPrice': '16990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '12'}, {'productSKU': 'GGOEGAAX0324', 'v2ProductName': "Android Men's Short Sleeve Tri-blend Hero Tee Grey", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '18990000', 'localProductPrice': '18990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '13'}, {'productSKU': 'GGOEGAAX0326', 'v2ProductName': "Google Men's Short Sleeve Badge Tee Charcoal", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '18990000', 'localProductPrice': '18990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '14'}, {'productSKU': 'GGOEGAAX0323', 'v2ProductName': "Google Men's Short Sleeve Hero Tee Charcoal", 'v2ProductCategory': '(not set)', 'productVariant': '(not set)', 'productBrand': '(not set)', 'productPrice': '18990000', 'localProductPrice': '18990000', 'isImpression': True, 'customDimensions': [], 'customMetrics': [], 'productListName': 'Search Results', 'productListPosition': '15'}], 'promotion': [], 'eCommerceAction': {'action_type': '0', 'step': '1'}, 'experiment': [], 'customVariables': [], 'customDimensions': [], 'customMetrics': [], 'type': 'PAGE', 'social': {'socialNetwork': '(not set)', 'hasSocialSourceReferral': 'No', 'socialInteractionNetworkAction': ' : '}, 'contentGroup': {'contentGroup1': '(not set)', 'contentGroup2': '(not set)', 'contentGroup3': '(not set)', 'contentGroup4': '(not set)', 'contentGroup5': '(not set)', 'previousContentGroup1': '(not set)', 'previousContentGroup2': '(not set)', 'previousContentGroup3': '(not set)', 'previousContentGroup4': '(not set)', 'previousContentGroup5': '(not set)'}, 'dataSource': 'web', 'publisher_infos': []}]

In [287]:
#Based on the output information i'll be dropping adwordsClickInfo

trafficSourceData = data['trafficSource'].apply(string_to_dict_simple)
trafficSourceDataFrame = pd.DataFrame(list(trafficSourceData))
trafficSourceDataFrame.drop(columns=['adwordsClickInfo'], inplace=True)
trafficSourceDataFrame.head()

,adContent,campaign,isTrueDirect,keyword,medium,referralPath,source
0,NaN,(not set),NaN,water bottle,organic,NaN,google
1,NaN,(not set),NaN,NaN,referral,/a/google.com/transportation/mtv-services/bike...,sites.google.com
2,NaN,(not set),True,NaN,(none),NaN,(direct)
3,NaN,(not set),NaN,(not provided),organic,NaN,google
4,NaN,(not set),NaN,(not provided),organic,NaN,google

In [293]:
#Drop dictionary columns
data.drop(columns=['customDimensions','hits','trafficSource','device','geoNetwork'], inplace=True)
data.head()

,channelGrouping,date,fullVisitorId,socialEngagementType,visitId,visitNumber,visitStartTime,totals_bounces,totals_hits,totals_newVisits,totals_pageviews,totals_sessionQualityDim,totals_timeOnSite,totals_totalTransactionRevenue,totals_transactionRevenue,totals_transactions,totals_visits
0,Organic Search,20171016,3162355547410993243,Not Socially Engaged,1508198450,1,1508198450,1.0,1,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1
1,Referral,20171016,8934116514970143966,Not Socially Engaged,1508176307,6,1508176307,NaN,2,NaN,2.0,2.0,28.0,NaN,NaN,NaN,1
2,Direct,20171016,7992466427990357681,Not Socially Engaged,1508201613,1,1508201613,NaN,2,1.0,2.0,1.0,38.0,NaN,NaN,NaN,1
3,Organic Search,20171016,9075655783635761930,Not Socially Engaged,1508169851,1,1508169851,NaN,2,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1
4,Organic Search,20171016,6960673291025684308,Not Socially Engaged,1508190552,1,1508190552,NaN,2,1.0,2.0,1.0,52.0,NaN,NaN,NaN,1

In [294]:
#Add new dictionary based dataframes to parent dataframe
newData = pd.concat([data, deviceDataFrame, geoDataFrame, trafficSourceDataFrame], axis=1)

In [297]:
newData = newData.replace('not available in demo dataset', np.nan, regex=True)
newData.head()

,channelGrouping,date,fullVisitorId,socialEngagementType,visitId,visitNumber,visitStartTime,totals_bounces,totals_hits,totals_newVisits,...,networkLocation,region,subContinent,adContent,campaign,isTrueDirect,keyword,medium,referralPath,source
0,Organic Search,20171016,3162355547410993243,Not Socially Engaged,1508198450,1,1508198450,1.0,1,1.0,...,NaN,NaN,Western Europe,NaN,(not set),NaN,water bottle,organic,NaN,google
1,Referral,20171016,8934116514970143966,Not Socially Engaged,1508176307,6,1508176307,NaN,2,NaN,...,NaN,California,Northern America,NaN,(not set),NaN,NaN,referral,/a/google.com/transportation/mtv-services/bike...,sites.google.com
2,Direct,20171016,7992466427990357681,Not Socially Engaged,1508201613,1,1508201613,NaN,2,1.0,...,NaN,NaN,Northern America,NaN,(not set),True,NaN,(none),NaN,(direct)
3,Organic Search,20171016,9075655783635761930,Not Socially Engaged,1508169851,1,1508169851,NaN,2,1.0,...,NaN,NaN,Western Asia,NaN,(not set),NaN,(not provided),organic,NaN,google
4,Organic Search,20171016,6960673291025684308,Not Socially Engaged,1508190552,1,1508190552,NaN,2,1.0,...,NaN,NaN,Central America,NaN,(not set),NaN,(not provided),organic,NaN,google

In [304]:
newData.iloc[0]
#list(newData)

channelGrouping                         Organic Search
date                                          20171016
fullVisitorId                      3162355547410993243
socialEngagementType              Not Socially Engaged
visitId                                     1508198450
visitNumber                                          1
visitStartTime                              1508198450
totals_bounces                                       1
totals_hits                                          1
totals_newVisits                                     1
totals_pageviews                                     1
totals_sessionQualityDim                             1
totals_timeOnSite                                  NaN
totals_totalTransactionRevenue                     NaN
totals_transactionRevenue                          NaN
totals_transactions                                NaN
totals_visits                                        1
browser                                        Firefox
browserSize                                        NaN
browserVersion                                     NaN
deviceCategory                                 desktop
flashVersion                                       NaN
isMobile                                         False
language                                           NaN
mobileDeviceBranding                               NaN
mobileDeviceInfo                                   NaN
mobileDeviceMarketingName                          NaN
mobileDeviceModel                                  NaN
mobileInputSelector                                NaN
operatingSystem                                Windows
operatingSystemVersion                             NaN
screenColors                                       NaN
screenResolution                                   NaN
city                                               NaN
cityId                                             NaN
continent                                       Europe
country                                        Germany
latitude                                           NaN
longitude                                          NaN
metro                                              NaN
networkDomain                                (not set)
networkLocation                                    NaN
region                                             NaN
subContinent                            Western Europe
adContent                                          NaN
campaign                                     (not set)
isTrueDirect                                       NaN
keyword                                   water bottle
medium                                         organic
referralPath                                       NaN
source                                          google
Name: 0, dtype: object

In [296]:
#Apply data scaling. Justify the type of scaling used.